<!--返回-->
<button nz-button [nzType]="'danger'" [nzShape]="'circle'" class="page-back" (click)="back()" title="返回">
  <i class="anticon anticon-rollback font20"></i>
</button>

<div class="pt">

  <ng-container *ngIf="path != 'detail'">
    <form nz-form class="p-20" #addBrandForm="ngForm">
      <!--品牌名称-->
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>品牌名称</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="ngValidateStatus(ngBrandName)" nzHasFeedback>
          <nz-input name="brandName" [(ngModel)]="brandInfo.brandName" #ngBrandName="ngModel"
                    required [nzType]="'text'" [nzPlaceHolder]="'请输入品牌名称'" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain *ngIf="ngValidateErrorMsg(ngBrandName)==valitateState.empty">
            请输入品牌名称！
          </div>
        </div>
      </div>

      <!--品牌英文名称-->
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label>品牌英文名称</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="ngValidateStatus(ngBrandName)" nzHasFeedback>
          <nz-input name="brandName" [(ngModel)]="brandInfo.brandName" #ngBrandName="ngModel"
                    required [nzType]="'text'" [nzPlaceHolder]="'请输入品牌英文名称'" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain *ngIf="ngValidateErrorMsg(ngBrandName)==valitateState.empty">
            请输入品牌英文名称！
          </div>
        </div>
      </div>

      <!--品牌所有人-->
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>品牌所有人</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="ngValidateStatus(ngBrandName)" nzHasFeedback>
          <nz-input name="brandName" [(ngModel)]="brandInfo.brandName" #ngBrandName="ngModel"
                    required [nzType]="'text'" [nzPlaceHolder]="'请输入品牌所有人'" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain *ngIf="ngValidateErrorMsg(ngBrandName)==valitateState.empty">
            请输入品牌所有人！
          </div>
        </div>
      </div>

      <!--品牌注册号-->
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>品牌注册号</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="ngValidateStatus(ngBrandInitial)" nzHasFeedback>
          <nz-input name="brandInitial" [(ngModel)]="brandInfo.brandInitial" #ngBrandInitial="ngModel"
                    required [nzType]="'text'" [nzPlaceHolder]="'请输入品牌注册号'" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain *ngIf="ngValidateErrorMsg(ngBrandInitial)==valitateState.empty">
            请输入品牌注册号！
          </div>
        </div>
      </div>

      <!--品牌图片-->
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label>品牌图片</label>
        </div>
        <div nz-col [nzSpan]="4" nz-form-control>
          <label class="file-upload">
            <i class="anticon anticon-cloud-upload-o"></i>上传品牌图片
            <input class="w100" type="file" name="brandPic" ng2FileSelect [uploader]="brandLogoUploader"
                   required accept="image/*" (change)="brandLogoChangeListener()"/>
          </label>
        </div>
        <div nz-col [nzSpan]="4" class="pl-30">
          <!--上传图片的时候-->
          <ng-container *ngIf="brandLogoUploader.queue[0]">
            <div class="uploaded">
              <div class="remove" (click)="brandLogoUploader.queue[0].remove()"><i class="anticon anticon-close"></i></div>
              <nz-popover [nzTrigger]="'click'">
                <img [src]="brandLogoUploader.queue[0]?._file | imgPreview" height="50"
                     title="点击看大图" nz-popover>
                <ng-template #nzTemplate>
                  <div><img [src]="brandLogoUploader.queue[0]?._file | imgPreview" height="200"></div>
                </ng-template>
              </nz-popover>
            </div>
          </ng-container>
        </div>
      </div>

      <!--品牌注册证/申请书-->
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label>品牌注册证</label>
        </div>
        <div nz-col [nzSpan]="4" nz-form-control>
          <label class="file-upload">
            <i class="anticon anticon-cloud-upload-o"></i>上传品牌注册证
            <input class="w100" type="file" name="brandPic" ng2FileSelect [uploader]="brandRegCardUploader"
                   required accept="image/*" multiple/>
          </label>
        </div>
        <div nz-col [nzSpan]="6" class="pl-30">
          <!--上传图片的时候-->
          <ng-container *ngIf="brandRegCardUploader.queue?.length>0">
            <div class="uploaded" *ngFor="let item of brandRegCardUploader.queue">
              <div class="remove" (click)="item.remove()"><i class="anticon anticon-close"></i></div>
              <nz-popover [nzTrigger]="'click'">
                <img [src]="item?._file | imgPreview" height="50"
                     title="点击看大图" nz-popover>
                <ng-template #nzTemplate>
                  <div><img [src]="item?._file | imgPreview" height="200"></div>
                </ng-template>
              </nz-popover>
            </div>
          </ng-container>
        </div>
      </div>

      <!--操作按钮 start-->
      <div nz-row class="text-center p-20 bt">
        <button nz-button [disabled]="!addBrandForm.form.valid" [nzSize]="'large'" class="thc-btn-w"
                (click)="submitAddBrandForm()">
          <span>提交</span>
        </button>
      </div>
      <!--操作按钮 end-->
    </form>
    <!--信息提示-->
    <ng-template #contentTpl></ng-template>
  </ng-container>

  <!--详情-->
  <ng-container *ngIf="path == 'detail'">
    <div class="p w60 t-items">
      <dl nz-row class="t-item">
        <dt nz-col [nzSpan]="6" class="item-hd">品牌中文名称：</dt>
        <dd nz-col [nzSpan]="18" class="item-bd mb0">{{brandInfo.brandName}}</dd>
      </dl>
      <dl nz-row class="t-item">
        <dt nz-col [nzSpan]="6" class="item-hd">品牌英文名称：</dt>
        <dd nz-col [nzSpan]="18" class="item-bd mb0">{{brandKind}}</dd>
      </dl>
      <dl nz-row class="t-item">
        <dt nz-col [nzSpan]="6" class="item-hd">品牌首字母：</dt>
        <dd nz-col [nzSpan]="18" class="item-bd mb0">{{brandInfo.brandInitial}}</dd>
      </dl>
      <dl nz-row class="t-item">
        <td nz-col [nzSpan]="6" class="item-hd">图片：</td>
        <td nz-col [nzSpan]="18" class="item-bd mb0">
          <nz-popover [nzTrigger]="'click'">
            <img [src]="brandInfo.brandPic | imgSize:'50'" appImgErr title="点击看大图"
                 nz-popover>
            <ng-template #nzTemplate>
              <div><img [src]="brandInfo.brandPic | imgSize:'200'" [alt]="brandInfo.brandName"></div>
            </ng-template>
          </nz-popover>
        </td>
      </dl>
      <dl nz-row class="t-item">
        <td nz-col [nzSpan]="6" class="item-hd">排序：</td>
        <td nz-col [nzSpan]="18" class="item-bd mb0">{{brandInfo.brandSort}}</td>
      </dl>
      <dl nz-row class="t-item">
        <td nz-col [nzSpan]="6" class="item-hd">所属店铺：</td>
        <td nz-col [nzSpan]="18" class="item-bd mb0">{{brandInfo.storeName }}</td>
      </dl>
      <dl nz-row class="t-item">
        <td nz-col [nzSpan]="6" class="item-hd">审核状态：</td>
        <td nz-col [nzSpan]="18" class="item-bd mb0">{{brandInfo.brandApply | stateName: enums.brandsApplyState}}
        </td>
      </dl>
      <dl nz-row class="t-item">
        <td nz-col [nzSpan]="6" class="item-hd">是否推荐：</td>
        <td nz-col [nzSpan]="18" class="item-bd mb0"
            [ngClass]="{'color-success': brandInfo.brandRecommend==enumState.yes,'color-red': brandInfo.brandRecommend==enumState.no}">
          {{brandInfo.brandRecommend | stateName: enums.yesOrNo}}
        </td>
      </dl>
      <dl nz-row class="t-item">
        <td nz-col [nzSpan]="6" class="item-hd">品牌展示类型：</td>
        <td nz-col [nzSpan]="18" class="item-bd mb0">{{brandInfo.showType | stateName: enums.showType}}</td>
      </dl>
      <dl nz-row class="t-item">
        <td nz-col [nzSpan]="6" class="item-hd">显示状态：</td>
        <td nz-col [nzSpan]="18" class="item-bd mb0">{{brandInfo.state | stateName: enums.brandState}}</td>
      </dl>
      <dl nz-row class="t-item">
        <td nz-col [nzSpan]="6" class="item-hd">创建时间：</td>
        <td nz-col [nzSpan]="18" class="item-bd mb0">{{brandInfo.createTime}}</td>
      </dl>
      <dl nz-row class="t-item">
        <td nz-col [nzSpan]="6" class="item-hd">更新时间：</td>
        <td nz-col [nzSpan]="18" class="item-bd mb0">{{brandInfo.updateTime}}</td>
      </dl>
    </div>
  </ng-container>
</div>

