<!--返回  start-->
<button nz-button [nzType]="'danger'" [nzShape]="'circle'" class="page-back" (click)="back()" title="返回">
  <i class="anticon anticon-rollback font20"></i>
</button>
<!--返回  end-->
<div class="pt">
  <!--品牌申请、修改  start-->
  <ng-container *ngIf="path != 'detail'">
    <form nz-form class="p-20" #addBrandForm="ngForm">
      <!--品牌名称  start-->
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>品牌名称</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="ngValidateStatus(ngBrandName)" nzHasFeedback>
          <nz-input name="brandName" [(ngModel)]="validateForm.brandName" #ngBrandName="ngModel" required [nzRows]="2"
                    [nzPlaceHolder]="'请输入品牌名称！'" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain *ngIf="ngValidateErrorMsg(ngBrandName) == valitateState.empty">
            请输入品牌名称！
          </div>
        </div>
      </div>
      <!--品牌名称  end-->
      <!--品牌英文名称-->
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>品牌英文名称</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="ngValidateStatus(ngEnglishName)" nzHasFeedback>
          <nz-input name="englishName" [(ngModel)]="validateForm.englishName" #ngEnglishName="ngModel" required
                    [nzRows]="2" [pattern]="pattern.letterNumber"
                    [nzPlaceHolder]="'请输入品牌英文名称!'" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain *ngIf="ngValidateErrorMsg(ngEnglishName) == valitateState.empty">
            请输入品牌英文名称!
          </div>
          <div nz-form-explain *ngIf="ngValidateErrorMsg(ngEnglishName) == valitateState.error">
            请输入正确的品牌英文名称！
          </div>
        </div>
      </div>
      <!--品牌所有人-->
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>品牌所有人</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="ngValidateStatus(ngBrandHolder)" nzHasFeedback>
          <nz-input name="brandHolder" [(ngModel)]="validateForm.brandHolder" #ngBrandHolder="ngModel" required
                    [nzRows]="2" [pattern]="pattern.chinese"
                    [nzPlaceHolder]="'请输入品牌所有人!'" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain *ngIf="ngValidateErrorMsg(ngBrandHolder) == valitateState.empty">
            请输入品牌所有人!
          </div>
          <div nz-form-explain *ngIf="ngValidateErrorMsg(ngBrandHolder) == valitateState.error">
            请输入正确的品牌所有人！
          </div>
        </div>
      </div>
      <!--品牌注册号-->
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>品牌注册号</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="ngValidateStatus(ngApplyNumber)" nzHasFeedback>
          <nz-input name="applyNumber" [(ngModel)]="validateForm.applyNumber" #ngApplyNumber="ngModel" required
                    [nzRows]="2" [pattern]="pattern.num"
                    [nzPlaceHolder]="'请输入品牌注册号!'" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain *ngIf="ngValidateErrorMsg(ngApplyNumber) == valitateState.empty">
            请输入品牌注册号!
          </div>
          <div nz-form-explain *ngIf="ngValidateErrorMsg(ngApplyNumber) == valitateState.error">
            请输入正确的品牌注册号！
          </div>
        </div>
      </div>
      <!--品牌图片-->
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label>品牌图片</label>
        </div>
        <div nz-col [nzSpan]="4" nz-form-control>
          <label class="file-upload">
            <i class="anticon anticon-cloud-upload-o"></i>上传品牌图片
            <input class="w100" type="file" name="brandLogo" ng2FileSelect [uploader]="brandLogoUploader"
                   required accept="image/*" (change)="storeAvatarFileChangeListener()"/>
          </label>
        </div>
        <div nz-col [nzSpan]="4" class="pl-30">
          <ng-container *ngIf="brandLogoUploader.queue[0]">
            <div class="uploaded">
              <nz-popover [nzTrigger]="'click'">
                <img [src]="brandLogoUploader.queue[0]?._file | imgPreview" appImgErr height="50" nz-popover>
                <ng-template #nzTemplate>
                  <div><img [src]="brandLogoUploader.queue[0]?._file | imgPreview" height="200"></div>
                </ng-template>
              </nz-popover>
            </div>
          </ng-container>
          <!--修改图片的时候-->
          <ng-container *ngIf="validateForm.brandLogo && !brandLogoUploader.queue[0]">
            <div class="uploaded">
              <nz-popover [nzTrigger]="'click'">
                <img [src]="validateForm.brandLogo | imgSize: '50'" height="50" appImgErr nz-popover>
                <ng-template #nzTemplate>
                  <div><img [src]="validateForm.brandLogo | imgSize: '200'"></div>
                </ng-template>
              </nz-popover>
            </div>
          </ng-container>
        </div>
      </div>

      <!--品牌注册证/申请书-->
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label>品牌注册证</label>
        </div>
        <div nz-col [nzSpan]="4" nz-form-control>
          <label class="file-upload">
            <i class="anticon anticon-cloud-upload-o"></i>上传品牌注册证
            <input class="w100" type="file" name="brandPic" ng2FileSelect [uploader]="brandRegCardUploader"
                   required accept="image/*" multiple />
          </label>
        </div>
        <div nz-col [nzSpan]="6" class="pl-30">
          <ng-container *ngIf="validateForm.registration1">
            <div class="uploaded">
              <nz-popover [nzTrigger]="'click'">
                <img [src]="validateForm.registration1 | imgSize: '50'" appImgErr
                     nz-popover>
                <ng-template #nzTemplate>
                  <div><img [src]="validateForm.registration1 | imgSize: '200'"></div>
                </ng-template>
              </nz-popover>
            </div>
          </ng-container>
          <ng-container *ngIf="validateForm.registration2">
            <div class="uploaded">
              <nz-popover [nzTrigger]="'click'">
                <img [src]="validateForm.registration2 | imgSize: '50'" appImgErr
                     nz-popover>
                <ng-template #nzTemplate>
                  <div><img [src]="validateForm.registration2 | imgSize: '200'"></div>
                </ng-template>
              </nz-popover>
            </div>
          </ng-container>
          <!--修改 --start-->
          <ng-container *ngIf="brandRegCardUploader.queue?.length>0">
            <div class="uploaded" *ngFor="let item of brandRegCardUploader.queue">
              <div class="remove" (click)="item.remove()"><i class="anticon anticon-close"></i></div>
              <nz-popover [nzTrigger]="'click'">
                <img [src]="item?._file | imgPreview" height="50"
                     title="点击看大图" nz-popover>
                <ng-template #nzTemplate>
                  <div><img [src]="item?._file | imgPreview" height="200"></div>
                </ng-template>
              </nz-popover>
            </div>
          </ng-container>
          <!--修改  end-->
        </div>
      </div>

      <!--操作按钮 start-->
      <div nz-row class="text-center p-20 bt">
        <button nz-button [disabled]="!addBrandForm.form.valid" [nzSize]="'large'" class="thc-btn-w"
                (click)="submitAddBrandForm()" *ngIf="path == 'addBrand'">
          <span>提交</span>
        </button>
        <button nz-button [disabled]="!addBrandForm.form.valid" [nzSize]="'large'" class="thc-btn-w"
                (click)="updateBrandForm()" *ngIf="path == 'edit'">
          <span>提交</span>
        </button>
      </div>
      <!--操作按钮 end-->
    </form>
    <!--信息提示-->
    <ng-template #contentTpl></ng-template>
  </ng-container>
  <!--品牌申请、修改  end-->
  <!--品牌详情  start-->
  <ng-container *ngIf="path == 'detail'">
    <div class="p w60 t-items">
      <dl nz-row class="t-item item-head">
          品牌信息：
      </dl>
      <dl nz-row class="t-item">
        <dt nz-col [nzSpan]="6" class="item-hd">品牌名称：</dt>
        <dd nz-col [nzSpan]="18" class="item-bd mb0">{{validateForm.brandName}}</dd>
      </dl>
      <dl nz-row class="t-item">
        <dt nz-col [nzSpan]="6" class="item-hd">英文名称：</dt>
        <dd nz-col [nzSpan]="18" class="item-bd mb0">{{validateForm.englishName}}</dd>
      </dl>
      <dl nz-row class="t-item">
        <dt nz-col [nzSpan]="6" class="item-hd">品牌所有人：</dt>
        <dd nz-col [nzSpan]="18" class="item-bd mb0">{{validateForm.brandHolder}}</dd>
      </dl>
      <dl nz-row class="t-item">
        <td nz-col [nzSpan]="6" class="item-hd">品牌图片：</td>
        <td nz-col [nzSpan]="18" class="item-bd mb0">
          <nz-popover [nzTrigger]="'click'"*ngIf="validateForm.brandLogo">
            <img [src]="validateForm.brandLogo | imgSize:'50'" appImgErr
                 nz-popover>
            <ng-template #nzTemplate>
              <div><img [src]="validateForm.brandLogo | imgSize:'200'"></div>
            </ng-template>
          </nz-popover>
        </td>
      </dl>
      <dl nz-row class="t-item">
        <td nz-col [nzSpan]="6" class="item-hd">品牌注册证：</td>
        <td nz-col [nzSpan]="18" class="item-bd mb0">
          <span *ngIf="validateForm.registration1">  <nz-popover [nzTrigger]="'click'">
            <img [src]="validateForm.registration1 | imgSize:'50'" appImgErr
                 nz-popover>
            <ng-template #nzTemplate>
              <div><img [src]="validateForm.registration1 | imgSize:'200'"></div>
            </ng-template>
          </nz-popover></span>
          <span *ngIf="validateForm.registration2">
          <nz-popover [nzTrigger]="'click'">
            <img [src]="validateForm.registration2 | imgSize:'50'" appImgErr >
            <ng-template #nzTemplate>
              <div><img [src]="validateForm.registration2 | imgSize:'200'"></div>
            </ng-template>
          </nz-popover></span>
        </td>
      </dl>
      <dl nz-row class="t-item">
        <td nz-col [nzSpan]="6" class="item-hd">创建时间：</td>
        <td nz-col [nzSpan]="18" class="item-bd mb0">{{validateForm.createTime}}</td>
      </dl>
      <dl nz-row class="t-item">
        <td nz-col [nzSpan]="6" class="item-hd">更新时间：</td>
        <td nz-col [nzSpan]="18" class="item-bd mb0">{{validateForm.updateTime}}</td>
      </dl>
      <dl nz-row class="t-item item-head">
        审核信息：
      </dl>
      <dl nz-row class="t-item">
        <td nz-col [nzSpan]="6" class="item-hd">审核状态：</td>
        <td nz-col [nzSpan]="18" class="item-bd mb0">{{validateForm.state | stateName: enums.brandApplyState}}
        </td>
      </dl>
      <dl nz-row class="t-item" *ngIf="validateForm.reason">
        <td nz-col [nzSpan]="6" class="item-hd">驳回原因：</td>
        <td nz-col [nzSpan]="18" class="item-bd mb0">{{validateForm.reason}}
        </td>
      </dl>
    </div>
  </ng-container>
  <!--品牌详情  end-->
</div>

