<!--提现部分 -- start-->
<div nz-row>
  <div class="bg-f8 mt mb-20 pt-20 pb-20">
    <span><i class="anticon anticon-red-envelope mr-5 ml font18"></i>余额：
      <b class="main-color font18">￥{{validateForm.balance}}</b>
    </span>
    <button nz-button class="ml-20 btn-thc" (click)="showModalForTemplate(title, content, footer)">
      提现
    </button>
    <span class="main-color ml-20 cursor settle-record" [routerLink]="cachUrl"><u>提现记录</u></span>
    <!--提现记录弹窗 -- start -->
    <form nz-form #updateShopForm="ngForm">
      <ng-template #title>
        <span>提现申请</span>
      </ng-template>
      <ng-template #content>

        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <label nz-form-item-required>
            <span>
             收款人姓名
            </span>
            </label>
          </div>
          <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback
               [nzValidateStatus]="ngValidateStatus(ngBacctName)">
            <nz-input [nzSize]="'large'" [(ngModel)]="validateForm.bacctName" name="ngBacctName" #ngBacctName="ngModel"
                      required [nzType]="'text'" [nzPlaceHolder]="'收款人姓名'" [pattern]="patternService.chinese"></nz-input>
            <div nz-form-explain *ngIf="ngValidateErrorMsg(ngBacctName) == valitateState.empty">
              请输入收款人姓名！
            </div>
          </div>
        </div>
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <label nz-form-item-required>银行卡号</label>
          </div>
          <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback
               [nzValidateStatus]="ngValidateStatus(ngAcct)">
            <nz-input [nzSize]="'large'" name="acct" [(ngModel)]="validateForm.acct" #ngAcct="ngModel" required
                      [nzType]="'number'" [nzPlaceHolder]="'银行卡号'" [pattern]="patternService.icCard"></nz-input>
            <div nz-form-explain *ngIf="ngValidateErrorMsg(ngAcct) == valitateState.empty">
              请输入银行卡号！
            </div>
          </div>
        </div>
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <label nz-form-item-required>账号开户行</label>
          </div>
          <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback nzHasFeedback
               [nzValidateStatus]="ngValidateStatus(ngBank)">
            <nz-select class="w100" name="bank" [(ngModel)]="validateForm.bank" #ngBank="ngModel" required
                       [nzSize]="'large'">
              <nz-option
                *ngFor="let item of bankDataList"
                [nzLabel]="item.remark"
                [nzValue]="item.remark">
              </nz-option>
            </nz-select>
          </div>
        </div>
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <label nz-form-item-required>申请提现金额</label>
          </div>
          <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback
               [nzValidateStatus]="ngValidateStatus(ngDrawMoney)">
            <nz-input [nzSize]="'large'" name="drawMoney" [(ngModel)]="validateForm.drawMoney" #ngDrawMoney="ngModel" required   [nzType]="'number'" [nzPlaceHolder]="'申请提现金额'" [pattern]="patternService.twodecimal"></nz-input>
            <div nz-form-explain *ngIf="ngValidateErrorMsg(ngDrawMoney) == valitateState.empty">
              请输入申请提现金额！
            </div>
          </div>
        </div>
        <div nz-row>
          <div nz-form-label nz-col [nzSm]="20" [nzXs]="24">
            <span>当前余额{{validateForm.balance}}，</span>
            <span class="settle-color font14" (click)="showDrawMoney()">全部提现</span>
          </div>
        </div>

      </ng-template>
      <ng-template #footer>
        <div>
          <button nz-button [nzType]="'ghost'" [nzSize]="'large'" (click)="handleCancel($event)"
                  [nzLoading]="isConfirmLoading"> 取消</button>
          <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="handleOk($event)"
                  [nzLoading]="isConfirmLoading" [disabled]="!updateShopForm.form.valid">
            确定 </button>
        </div>
      </ng-template>
    </form>
    <!--提现记录弹窗 -- end -->
  </div>
</div>
<!--提现部分 -- end-->
<!--结算明细 -- start-->
<div>
  <div class="font16 mb-10">
    <i class="anticon anticon-switcher mr"></i><span>结算信息</span>
    <!--结算公式 -- start -->
    <nz-popover [nzPlacement]="'leftTop'" class="ml fr">
      <span nz-popover class="main-color cursor"><u>结算公式</u></span>
      <ng-template #nzTemplate>
        <div><p>{{settleFormula.one}}</p>
          <p>{{settleFormula.two}}</p></div>
      </ng-template>
    </nz-popover>
    <!--结算公式 -- end -->
  </div>
  <!--搜索 --start  -->
  <div>
    <form nz-form class="bg-white pt-15 pr-15 pl-5 mb-20">
      <div class="search-group">
        <span class="search-title">订单编号：</span>
        <div class="search-main w75" >
          <nz-input name="ordno" [(ngModel)]="query.ordno" [nzPlaceHolder]="'请输入订单编号'"
                    [nzSize]="'large'"></nz-input>
        </div>
      </div>
      <div class="search-group-data">
        <span class="search-title pl-20">结算时间：</span>
        <div class="search-main">
          <div nz-col [nzSpan]="4" class="data">
            <div nz-form-item nz-row>
              <div>
                <nz-datepicker name="idcardStartTime" [(ngModel)]="_startDate" class="data"
                               #ngIdcardStartTime="ngModel" [nzSize]="'large'" required
                               [nzDisabledDate]="_disabledIdCardStartDate"
                               [nzPlaceHolder]="'起始日期'"></nz-datepicker>
              </div>
            </div>
          </div>
          <span class="fl pl-5 pr-5">-</span>
          <div nz-col [nzSpan]="4" class="data">
            <div>
              <nz-datepicker name="idcardEndTime" [(ngModel)]="_endDate" class="data"
                             #ngIdcardEndTime="ngModel" [nzSize]="'large'" required
                             [nzDisabledDate]="_disabledIdCardEndDate"
                             [nzPlaceHolder]="'结束日期'"></nz-datepicker>
            </div>
          </div>
        </div>
      </div>
      <div class="settle-search">
  <button nz-button [nzSize]="'large'" class="ml-20 btn-thc mr-10" (click)="qeuryCashData()">
    <i class="anticon anticon-search"></i> <span>搜索</span>
  </button>
  <button nz-button [nzType]="'primary'" class="btn-thc" [nzSize]="'large'"
          (click)="resetSearch()">
    <i class="anticon anticon-reload"></i> <span>重置</span>
  </button>
</div>

    </form>
  </div>
  <!--搜索 --end  -->

  <!--结算表格 -- start-->
  <nz-table #nzTable [nzAjaxData]="settlePage.voList"
            [nzLoading]="_loading"
            [nzTotal]="settlePage.totalRow"
            [(nzPageIndex)]="settlePage.curPage"
            (nzPageIndexChange)="qeuryCashData()"
            [(nzPageSize)]="settlePage.pageSize">
    <!--结算头部 --start -->
    <thead nz-thead>
    <tr>
      <th nz-th class="w5 text-center"><span>序号</span></th>
      <th nz-th class="w15 text-center"><span>订单号</span></th>
      <th nz-th class="w16 text-center"><span>订单总额（元）</span></th>
      <th nz-th class="w16 text-center"><span>订单退款（元）</span></th>
      <th nz-th class="w16 text-center"><span>结算比例</span></th>
      <th nz-th class="w16 text-center"><span>应结款（元）</span></th>
      <th nz-th class="w16 text-center"><span>结算时间</span></th>
    </tr>
    </thead>
    <!--结算头部 --end -->
    <!--结算数据 --start -->
    <tbody nz-tbody>
    <tr nz-tbody-tr *ngFor="let data of nzTable.data;let i=index;" class="text-center">
      <td nz-td>{{i+1}}</td>
      <td nz-td>{{data.ordno}}</td>
      <td nz-td class="main-color">￥{{data.ordPay | number:'1.2-2'}}</td>
      <td nz-td>￥{{data.ordRefundPay | number:'1.2-2'}}</td>
      <td nz-td>{{data.settleRate}}%</td>
      <td nz-td>￥{{data.settle | number:'1.2-2'}}</td>
      <td nz-td>{{data.createTime}}</td>
    </tr>
    </tbody>
    <!--结算数据 --end -->
  </nz-table>
  <!--结算表格 -- end-->
</div>
<!--结算明细 -- end-->
