.cash-settle-all {
  background: #fffee5;
  border: 2px solid #f7dea3;
  height: 55px;
  line-height: 55px;
}

.settle-record {
  outline: none;
}

.settle-color {
  color: #e82d4d;
}

.search-group {
  width: 240px;
  display: inline-block;
}

.search-group .search-title {
  width: 40%;
  line-height: 36px;
  text-align: right;
  display: inline-block;
}

.search-group .search-main {
  width: 60%;
  float: right;
}

.search-group-data {
  height: 22px;
  width: 590px;
  display: inline-block;
}

.search-group-data .search-title {
  width: 17%;
  line-height: 36px;
  float: left;
  display: inline-block;
}

.search-group-data .search-main {
  width: 80%;
  float: left;
}

.data{
  width: 225px;
}
