<div class="redPackSta">

  <!--红包块状统计 start-->
  <div nz-row class="block" [nzJustify]="'space-around'" [nzType]="'flex'" [nzAlign]="'middle'">
    <div nz-col [nzSpan]="6" class="blockBg font18">
      <div nz-row [nzAlign]="'middle'" [nzType]="'flex'">
        <div nz-col [nzSpan]="17" [nzOffset]="1">
          <div>投放总金额（元）</div>
          <p *ngIf="redPackStatic?.ordSum!=null">{{redPackStatic?.ordSum}}</p>
          <p class="text-md m0" *ngIf="redPackStatic?.ordSum==null">0.00</p>
        </div>
        <div nz-col [nzSpan]="5" [nzOffset]="1">
          <i class="anticon anticon-code-o myIcon"></i>
        </div>
      </div>
    </div>
    <div nz-col [nzSpan]="5" class="blockBg font18">
      <div nz-row [nzAlign]="'middle'" [nzType]="'flex'">
        <div nz-col [nzSpan]="17" [nzOffset]="1">
          <div>总点击数</div>
          <p class="text-md m0" *ngIf="redPackStatic?.ordSum!=null">{{redPackStatic?.ordSum}}</p>
          <p class="text-md m0" *ngIf="redPackStatic?.ordSum==null">0.00</p>
        </div>
        <div nz-col [nzSpan]="5" [nzOffset]="1">
          <i class="anticon anticon-link myIcon"></i>
        </div>
      </div>
    </div>
    <div nz-col [nzSpan]="5" class="blockBg font18">
      <div nz-row [nzAlign]="'middle'" [nzType]="'flex'">
        <div nz-col [nzSpan]="17" [nzOffset]="1">
          <div>今日点击数</div>
          <p class="text-md m0" *ngIf="redPackStatic?.ordSum!=null">{{redPackStatic?.ordSum}}</p>
          <p class="text-md m0" *ngIf="redPackStatic?.ordSum==null">0.00</p>
        </div>
        <div nz-col [nzSpan]="5" [nzOffset]="1">
          <i class="anticon anticon-user-add myIcon"></i>
        </div>
      </div>
    </div>
    <div nz-col [nzSpan]="5" class="blockBg font18">
      <div nz-row [nzAlign]="'middle'" [nzType]="'flex'">
        <div nz-col [nzSpan]="17" [nzOffset]="1">
          <div>用户点击中奖金额</div>
          <p class="text-md m0" *ngIf="redPackStatic?.ordSum!=null">{{redPackStatic?.ordSum}}</p>
          <p class="text-md m0" *ngIf="redPackStatic?.ordSum==null">0.00</p>
        </div>
        <div nz-col [nzSpan]="5" [nzOffset]="1">
          <i class="anticon anticon-flag myIcon"></i>
        </div>
      </div>
    </div>
    <!--红包统计 end-->
  </div>
  <!--红包块状统计 end-->

  <!--搜索 start-->
  <div nz-row [nzJustify]="'end'" [nzType]="'flex'">

    <!--统计时间类型 start-->
    <div nz-col *ngIf="showType.DAY">
      <select class="sel form-control pull-right" name="queryType"
              [(ngModel)]='staType' (change)="changeStaType()">
        <option *ngFor="let item of staTypes" [value]="item.key">{{item.val}}</option>
      </select>
    </div>
    <!--统计时间类型 end-->

    <!--搜索条件 start-->
    <div nz-col>
      <div>
        <!--<div *ngIf="showType.MONTH">-->
        <!--<select [(ngModel)]="select.year" class="pull-left w43 form-control d-play" style="margin-right: 20px">-->
        <!--<option *ngFor="let info of yearInfo" value="{{info}}">{{info}}</option>-->
        <!--</select>-->
        <!--<select [(ngModel)]="select.month" class="w43 form-control">-->
        <!--<option *ngFor="let info of month" value="{{info}}">{{info}}</option>-->
        <!--</select>-->
        <!--</div>-->
        <div *ngIf="showType.WEEK">
          <select [(ngModel)]="select.year" class="form-control w22 pull-left mr5">
            <option *ngFor="let info of yearInfo" value="{{info}}">{{info}}</option>
          </select>
          <select [(ngModel)]="select.month" (change)="getWeekListByMonth()" class="form-control w21 pull-left mr5">
            <option *ngFor="let info of month" value="{{info}}">{{info}}</option>
          </select>
          <select [(ngModel)]="select.week" class="form-control w53">
            <option *ngFor="let info of weekForMonth" value="{{info}}">{{info}}</option>
          </select>
        </div>
        <div *ngIf="showType.DAY">
          <nz-datepicker [(ngModel)]="nowDate" [nzPlaceHolder]="'请选择日期'"></nz-datepicker>
        </div>
      </div>
    </div>
    <!--搜索条件 end-->

    <!--搜索图标 start-->
    <div nz-col (click)="goSearch()">
      <i class="anticon anticon-search"></i>
    </div>
    <!--搜索图标 end-->

  </div>
  <!--搜索 end-->

  <!--红包统计图 start-->
  <!--<div class="panel m-auto">-->
  <!--<div echarts [options]="optionPrev" class="demo-chart w100"></div>-->
  <!--</div>-->
  <!--红包统计图 end-->

</div>




