.redPackSta .block .blockBg{
  background: #24B7E5;
  height: 80px;
  color:white;
}
.redPackSta .block .myIcon{
  line-height: 80px;
  font-size: 50px;
}
.redPackSta .w160{
  width:120px !important;
}
.redPackSta .w200{
  width:200px !important;
}
.redPackSta .rp-chart{
  height:400px;
}
