<div class="redPackSta">
  <!--红包块状统计 start-->
  <div class="mt-20 bg-f8 pt-20 pb-20" nz-row>
    <div nz-col [nzSpan]="8" [ngClass]="{'border-right':true}" class="text-center">
      <p class="font22 main-color">{{redPackStatic?.amount  || "0" | number:'1.2-2'}}</p>
      <p>投放总金额（元）</p>
    </div>
    <div nz-col [nzSpan]="8" [ngClass]="{'border-right':true}" class="text-center">
      <p class="font22 main-color">{{redPackStatic?.totalClickNum || "0"}}</p>
      <p>总点击数</p>
    </div>
    <div nz-col [nzSpan]="8" [ngClass]="{'border-right':false}" class="text-center">
      <p class="font22 main-color">{{redPackStatic?.clickTodayNum || "0"}}</p>
      <p>今日点击数</p>
    </div>
    <!--to do -->
    <!--<div nz-col [nzSpan]="8" [ngClass]="{'border-right':true}" class="text-center">-->
    <!--<p class="font22 main-color">{{count.num}}</p>-->
    <!--<p>用户点击中奖金额</p>-->
    <!--</div>-->
  </div>
  <!--红包块状统计 end-->

  <!--搜索 start-->
  <div nz-row [nzJustify]="'start'" [nzType]="'flex'" class="mt-20 mb-20">
    <!--统计时间类型 start-->
    <nz-select class="w160 mr" [(ngModel)]="staType" nzAllowClear (ngModelChange)="changeStaType()" [nzSize]="'large'">
      <nz-option
        *ngFor="let option of staTypes"
        [nzLabel]="option.val"
        [nzValue]="option.key">
      </nz-option>
    </nz-select>
    <!--统计时间类型 end-->
    <!--搜索条件 start-->
    <div nz-col>
      <div>
        <div *ngIf="showType.MONTH">
          <nz-select class="w160 mr" [(ngModel)]="select.year" nzAllowClear [nzSize]="'large'">
            <nz-option
              *ngFor="let option of yearInfo"
              [nzLabel]="option"
              [nzValue]="option">
            </nz-option>
          </nz-select>
          <nz-select class="w160 mr" [(ngModel)]="select.month" nzAllowClear [nzSize]="'large'">
            <nz-option
              *ngFor="let option of month"
              [nzLabel]="option"
              [nzValue]="option">
            </nz-option>
          </nz-select>
        </div>
        <div *ngIf="showType.WEEK">
          <nz-select class="w160 mr" [(ngModel)]="select.year" nzAllowClear [nzSize]="'large'">
            <nz-option
              *ngFor="let option of yearInfo"
              [nzLabel]="option"
              [nzValue]="option">
            </nz-option>
          </nz-select>
          <nz-select class="w160 mr" [(ngModel)]="select.month" nzAllowClear [nzSize]="'large'"
                     (ngModelChange)="getWeekListByMonth()">
            <nz-option
              *ngFor="let option of month"
              [nzLabel]="option"
              [nzValue]="option">
            </nz-option>
          </nz-select>
          <nz-select class="w200 mr" [(ngModel)]="select.week" nzAllowClear [nzSize]="'large'">
            <nz-option
              *ngFor="let option of weekForMonth"
              [nzLabel]="option"
              [nzValue]="option">
            </nz-option>
          </nz-select>
        </div>
        <div *ngIf="showType.DAY">
          <nz-datepicker [(ngModel)]="nowDate" [nzPlaceHolder]="'请选择日期'" [nzSize]="'large'"></nz-datepicker>
        </div>
      </div>
    </div>
    <!--搜索条件 end-->
    <!--搜索图标 start-->
    <div nz-col>
      <button nz-button [nzSize]="'large'" class="ml btn-thc" (click)="goSearch()">
        <i class="anticon anticon-search"></i><span>搜索</span>
      </button>
    </div>
    <!--搜索图标 end-->
  </div>
  <!--搜索 end-->

  <!--红包统计图 start-->
  <div echarts [options]="setOption" class="rp-chart"></div>
  <!--红包统计图 end-->
</div>



