<!--页面提示信息 start-->
<div class="page-msg-red">
  <p class="title">操作提示</p>
  <ul>
    <li>请慎重选择商品分类，商品发布后将不可修改。</li>
  </ul>
</div>
<!--页面提示信息 end-->

<div class="step-one mt">
  <div nz-row class="kind-zone">
    <div nz-col [nzSpan]="8" class="p">
      <ul>
        <li *ngFor="let item of firstList" (click)="getKinds(item.id,item.level,this)">
          {{item.kindName}}
        </li>
      </ul>
    </div>
    <div nz-col [nzSpan]="8" class="p">
      <ul>
        <li *ngFor="let item of secondList" (click)="getKinds(item.id,item.level,this)">{{item.kindName}}</li>
      </ul>
    </div>
    <div nz-col [nzSpan]="8" class="p">
      <ul>
        <li *ngFor="let item of thirdList" (click)="getKinds(item.id,item.level,this)">{{item.kindName}}</li>
      </ul>
    </div>
  </div>
  <div class="page-msg m">
    <span class="unchoosed" *ngIf="!choosedKindStr">请选择分类</span>
    <span *ngIf="choosedKindStr">您当前选择的分类是：{{choosedKindStr}}</span>
  </div>
  <div class="text-center mr mb-15">
    <button nz-button [nzType]="'button'" [nzSize]="'large'" class="btn-green" [routerLink]="goodsEdit"
            [queryParams]="{kindId:choosedKindId,choosedKind:choosedKindStr}" [disabled]="!choosedKindId">下一步
    </button>
  </div>
</div>
