<div class="w100" style="background:#fff;height:918px">

  <div class="mb-20 pt-20 w90" style="margin: auto;font-size: 18px;font-weight: 700">
    企业信息
  </div>
  <div class="w100" style="height: 189px">
    <p class="legend bb-dashed a w90">企业基本信息</p>
    <dl class="w48 fl mt-15">
      <dd class="text-right strong">企业名称：</dd>
      <dd class="text-right strong">企业邮箱：</dd>
      <dd class="text-right strong">联系人姓名：</dd>
      <dd class="text-right strong">联系人手机号：</dd>
      <dd class="text-right strong">证件类型：</dd>
    </dl>
    <dl class="w52 fr mt-15">
      <dd class="pl">欢迎来到divcss5</dd>
      <dd class="pl">这里有，html教程</dd>
      <dd class="pl">这里有，css模块</dd>
      <dd class="pl">这里有，css教程</dd>
      <dd class="pl">这里有，css教程</dd>
    </dl>
  </div>
  <div class="w100" style="height: 168px">
    <p class="legend bb-dashed a w90">企业法人信息</p>
    <dl class="w48 fl mt-15">
      <dd class="text-right strong">法人姓名：</dd>
      <dd class="text-right strong">法人身份证号：</dd>
      <dd class="text-right strong">是否长期有效：</dd>
      <dd class="text-right strong">法人身份证有效期：</dd>
    </dl>
    <dl class="w52 fr mt-15">
      <dd class="pl">欢迎来到divcss5</dd>
      <dd class="pl">这里有，html教程</dd>
      <dd class="pl">这里有，css模块</dd>
      <dd class="pl">这里有，css教程</dd>
    </dl>
  </div>
  <div class="w100" style="height: 230px">
    <p class="legend bb-dashed a w90">营业执照信息</p>
    <dl class="w48 fl mt-15">
      <dd class="text-right strong">注册资本：</dd>
      <dd class="text-right strong">法定经营范围：</dd>
      <dd class="text-right strong">营业执照所在地：</dd>
      <dd class="text-right strong">详细地址：</dd>
      <dd class="text-right strong">营业执照有效期：</dd>
      <dd class="text-right strong">营业执照电子版：</dd>
    </dl>
    <dl class="w52 fr mt-15">
      <dd class="pl">欢迎来到divcss5</dd>
      <dd class="pl">这里有，html教程</dd>
      <dd class="pl">这里有，css模块</dd>
      <dd class="pl">这里有，css教程</dd>
      <dd class="pl">这里有，css教程</dd>
      <dd class="pl">这里有，css教程</dd>
    </dl>
  </div>
  <div class="w100" style="height: 260px">
    <p class="legend bb-dashed w90 a" style="">开户行信息</p>
    <dl class="w48 fl mt-15">
      <dd class="text-right strong" >银行开户名：</dd>
      <dd class="text-right strong">公司银行账号：</dd>
      <dd class="text-right strong">开户行支行名称：</dd>
      <dd class="text-right strong">开户支行银联号：</dd>
      <dd class="text-right strong">开户银行地址：</dd>
      <dd class="text-right strong">开户银行许可证电子版：</dd>
      <dd class="text-right strong">是否为结算账户：</dd>
    </dl>
    <dl class="w52 fr mt-15">
      <dd class="pl">欢迎来到divcss5</dd>
      <dd class="pl">这里有，html教程</dd>
      <dd class="pl">这里有，css模块</dd>
      <dd class="pl">这里有，css教程</dd>
      <dd class="pl">这里有，html教程</dd>
      <dd class="pl">这里有，css模块</dd>
      <dd class="pl">这里有，css教程</dd>
    </dl>
  </div>
</div>
