dd {
  height: 30px;
  line-height: 30px;
}

.store-info-all {
  background: #fff;
  height: 1180px
}

.store-info {
  margin: auto;
  font-weight: 700
}

.store-info-one {
  height: 189px
}

.store-info-two {
  height: 168px
}

.store-info-three {
  height: 260px
}

.store-info-four {
  height: 293px
}

.store-info-five {
  height: 213px;
}

.Electronic-img {
  padding-top: 8px;
}

.store-info-border {
  padding: 0px 20px;
  font-size: 16px;
  border-left: 3px solid #f40;
  border-bottom: 1px dashed #e9e9e9;
  font-weight: 600;
  margin: auto
}
