<div class="w100 store-info-all">

  <div class="mb-20 pt-20 w90 font18 store-info">
    企业信息
  </div>
  <div class="w100 store-info-one">
    <p class="legend bb-dashed w90 store-info-border">企业基本信息</p>
    <dl class="w48 fl mt-15">
      <dd class="text-right strong">企业名称：</dd>
      <dd class="text-right strong">企业邮箱：</dd>
      <dd class="text-right strong">联系人姓名：</dd>
      <dd class="text-right strong">联系人手机号：</dd>
      <dd class="text-right strong">证件类型：</dd>
    </dl>
    <dl class="w52 fr mt-15">
      <dd class="pl">{{storeInfo.epName}}</dd>
      <dd class="pl">{{storeInfo.contactsEmail}}</dd>
      <dd class="pl">{{storeInfo.contactsName}}</dd>
      <dd class="pl">{{storeInfo.contactsPhone}}</dd>
      <dd class="pl">{{storeInfo.idType}}</dd>
    </dl>
  </div>
  <div class="w100 store-info-two">
    <p class="legend bb-dashed w90 store-info-border">企业法人信息</p>
    <dl class="w48 fl mt-15">
      <dd class="text-right strong">法人姓名：</dd>
      <dd class="text-right strong">法人身份证号：</dd>
      <dd class="text-right strong">是否长期有效：</dd>
      <dd class="text-right strong">法人身份证有效期：</dd>
    </dl>
    <dl class="w52 fr mt-15">
      <dd class="pl">{{storeInfo.legalPersonName}}</dd>
      <dd class="pl">{{storeInfo.legalPersonIdcard}}</dd>
      <dd class="pl">{{storeInfo.isForever}}</dd>
      <dd class="pl">{{storeInfo.idcardStartTime}}~{{storeInfo.idcardEndTime}}</dd>
    </dl>
  </div>
  <div class="w100 store-info-three">
    <p class="legend bb-dashed w90 store-info-border">营业执照信息</p>
    <dl class="w48 fl mt-15">
      <dd class="text-right strong">注册资本：</dd>
      <dd class="text-right strong">法定经营范围：</dd>
      <dd class="text-right strong">营业执照所在地：</dd>
      <dd class="text-right strong">详细地址：</dd>
      <dd class="text-right strong">营业执照有效期：</dd>
      <dd class="text-right strong">营业执照电子版：</dd>
    </dl>
    <dl class="w52 fr mt-15">
      <dd class="pl">{{storeInfo.businessRegisteredCapital}}</dd>
      <dd class="pl">{{storeInfo.businessSphere}}</dd>
      <dd class="pl">{{storeInfo.businessLicenceAreaName}}</dd>
      <dd class="pl">{{storeInfo.businessLicenceAddress}}</dd>
      <dd class="pl">{{storeInfo.businessLicenceStart | date:"yyyy-MM-dd"}}~{{storeInfo.businessLicenceEnd |
        date:"yyyy-MM-dd"}}
      </dd>
      <dd class="pl">
        <img [src]="storeInfo.businessLicenceNumberElectronic" alt=""
             onerror="javascript:this.src='../../../assets/img/dummy.png'"
        >
      </dd>
    </dl>
  </div>
  <div class="w100 store-info-four">
    <p class="legend bb-dashed w90 store-info-border" style="">开户行信息</p>
    <dl class="w48 fl mt-15">
      <dd class="text-right strong">银行开户名：</dd>
      <dd class="text-right strong">公司银行账号：</dd>
      <dd class="text-right strong">开户行支行名称：</dd>
      <dd class="text-right strong">开户支行银联号：</dd>
      <dd class="text-right strong">开户银行地址：</dd>
      <dd class="text-right strong">开户银行许可证电子版：</dd>
      <dd class="text-right strong">是否为结算账户：</dd>
    </dl>
    <dl class="w52 fr mt-15">
      <dd class="pl">{{storeInfo.businessSphere}}</dd>
      <dd class="pl">{{storeInfo.bankaAccountNumber}}</dd>
      <dd class="pl">{{storeInfo.bankName}}</dd>
      <dd class="pl">{{storeInfo.bankCode}}</dd>
      <dd class="pl">{{storeInfo.bankAddress}}</dd>
      <dd class="pl">
        <img [src]="storeInfo.bankLicenceElectronic" alt=""
             onerror="javascript:this.src='../../../assets/img/dummy.png'">
      </dd>
      <dd class="pl">{{storeInfo.isSettlementAccount}}</dd>
    </dl>
  </div>
  <div class="w100" style="height: 200px">
    <p class="legend bb-dashed w90 store-info-border" style="">结算账户信息</p>
    <dl class="w48 fl mt-15">
      <dd class="text-right strong">结算银行开户名：</dd>
      <dd class="text-right strong">结算公司银行账号：</dd>
      <dd class="text-right strong">结算开户行支行名称：</dd>
      <dd class="text-right strong">结算开户支行银联号：</dd>
      <dd class="text-right strong">结算开户银行地址：</dd>
    </dl>
    <dl class="w52 fr mt-15">
      <dd class="pl">{{storeInfo.settlementBankAccountName}}</dd>
      <dd class="pl">{{storeInfo.settlementBankAccountNumber}}</dd>
      <dd class="pl">{{storeInfo.settlementBankAame}}</dd>
      <dd class="pl">{{storeInfo.settlementBankCode}}</dd>
      <dd class="pl">{{storeInfo.settlementBankAddress}}</dd>
    </dl>
  </div>

</div>
