<div *ngIf="showList">
  <div class="panel panel-default">
    <!--引导语 start-->
    <div class="page-msg-red m">
      <p class="title">操作提示</p>
      <ul>
        <li *ngFor="let item of guideLang">{{item}}</li>
      </ul>
    </div>
    <!--引导语 end-->

    <!--搜索 start-->
    <div class="mb-15">
      <form nz-form class="bg-white p-15">
        <div class="search-group ml-20 mb">
          <span class="search-title">售后单状态：</span>
          <div class="search-main">
            <nz-select class="w100" name="saleAfter" [(ngModel)]="query.state" [nzSize]="'large'"
                       (ngModelChange)="queryOrdList()">
              <nz-option [nzLabel]="'全部'" [nzValue]="''"></nz-option>
              <ng-container *ngFor="let item of saleAfterStates">
                <nz-option
                  [nzLabel]="item.val"
                  [nzValue]="item.key">
                </nz-option>
              </ng-container>
            </nz-select>
          </div>
        </div>
        <div class="search-group ml-20 mb">
          <span class="search-title">是否收到货：</span>
          <div class="search-main">
            <nz-select class="w100" name="isReceive" [(ngModel)]="query.isReceive" [nzSize]="'large'"
                       (ngModelChange)="queryOrdList()">
              <nz-option [nzLabel]="'全部'" [nzValue]="''"></nz-option>
              <nz-option
                *ngFor="let item of isReceiveList"
                [nzLabel]="item.val"
                [nzValue]="item.key">
              </nz-option>
            </nz-select>
          </div>
        </div>
        <div class="search-group ml-20 mb _special">
          <span class="search-title ml-20">
            <nz-select class="w100" name="searchType" [(ngModel)]="query.searchType" [nzSize]="'large'" #sType
                       (ngModelChange)="changeSearchType(sType.value)">
              <nz-option [nzLabel]="'全部'" [nzValue]="''"></nz-option>
              <nz-option [nzLabel]="'退单单号'" [nzValue]="enumState.afterSearchType.afterNo"></nz-option>
              <nz-option [nzLabel]="'用户手机号'" [nzValue]="enumState.afterSearchType.phone"></nz-option>
              <nz-option [nzLabel]="'订单号'" [nzValue]="enumState.afterSearchType.ordno"></nz-option>
            </nz-select>
          </span>
          <div class="search-main">
            <nz-input *ngIf="query.searchType == enumState.afterSearchType.ordno" name="brandName"
                      [(ngModel)]="query.ordno"
                      [nzPlaceHolder]="'订单编号'"
                      [nzSize]="'large'" (ngModelChange)="queryOrdList()"></nz-input>
            <nz-input *ngIf="query.searchType == enumState.afterSearchType.afterNo" name="brandName"
                      [(ngModel)]="query.afterNo"
                      [nzPlaceHolder]="'退单单号'"
                      [nzSize]="'large'" (ngModelChange)="queryOrdList()"></nz-input>
            <nz-input *ngIf="query.searchType == enumState.afterSearchType.phone" name="brandName"
                      [(ngModel)]="query.phone"
                      [nzPlaceHolder]="'用户手机号'"
                      [nzSize]="'large'" (ngModelChange)="queryOrdList()"></nz-input>
          </div>
        </div>
        <button nz-button [nzSize]="'large'" class="ml-20 btn-thc mr-20" (click)="queryOrdList()">
          <i class="anticon anticon-search"></i>
        </button>
        <button nz-button [nzType]="'primary'" class="btn-thc mr-20" [nzSize]="'large'"
                (click)="changeSaleAfterStateToWAIT()">
          <i class="anticon anticon-search"></i><span>待审核</span>
        </button>
        <button nz-button [nzType]="'primary'" class="btn-thc mr-20" [nzSize]="'large'"
                (click)="changeSaleAfterStateToDeLivery()">
          <i class="anticon anticon-search"></i><span>待验货</span>
        </button>
      </form>
    </div>
    <!--搜索 end-->
  </div>

  <!--退款列表 start-->
  <nz-table #nzTable
            [nzAjaxData]="refundOrderPage.voList"
            [nzLoading]="_loading"
            [nzTotal]="refundOrderPage.totalRow"
            [(nzPageIndex)]="refundOrderPage.curPage"
            (nzPageIndexChange)="queryOrdList()"
            [(nzPageSize)]="refundOrderPage.pageSize">
    <thead nz-thead>
    <tr>
      <th nz-th class="text-center"><span></span></th>
      <th nz-th class="text-center"><span>退单单号</span></th>
      <th nz-th class="text-center"><span>退款金额（元）</span></th>
      <th nz-th class="text-center"><span>申请人（买家）</span></th>
      <th nz-th class="text-center"><span>申请时间</span></th>
      <th nz-th class="text-center"><span>处理状态</span></th>
      <th nz-th class="text-center"><span>管理操作</span></th>
    </tr>
    </thead>
    <tbody nz-tbody>
    <ng-container *ngFor="let item of nzTable.data;let i=index;">
      <tr nz-tbody-tr>
        <td nz-td class="text-center"><i class="anticon anticon-down" (click)="showDetail(i)"></i></td>
        <td nz-td class="text-center">{{item.afterNo}}</td>
        <td nz-td class="text-center">{{item.reqMoney | number:'1.2-2'}}</td>
        <td nz-td class="text-center">{{item.custPhone}}</td>
        <td nz-td class="text-center">{{item.createTime}}</td>
        <td nz-td class="text-center">{{item.state | stateName:'1602'}}</td>
        <td nz-td class="text-center">
          <button nz-button class="mt-5 btn-blue" *ngIf="item.state==enumState.afterService.wait"
                  [routerLink]="afterDetail"
                  [queryParams]="{afterNo:item.afterNo,type:'deal'}" title="处理">
            <i class="anticon anticon-edit"></i>
          </button>
          <button nz-button class="mt-5 btn-success" *ngIf="item.state==enumState.afterService.delivery"
                  [routerLink]="afterDetail"
                  [queryParams]="{afterNo:item.afterNo,type:'deal'}" title='验收'>
            <i class="anticon anticon-check"></i>
          </button>
          <button nz-button title="详情" class="btn-green" [routerLink]="routerLink.store.afterDetail"
                  [queryParams]="{afterNo:item.afterNo,type:'detail'}">
            <i class="anticon anticon-info-circle-o"></i>
          </button>
        </td>
      </tr>
      <!--详情 start-->
      <tr nz-tbody-tr *ngIf="detail[i]">
        <td nz-td class="text-center" [attr.colspan]="7">
          <div class="bg-light-gray pl text-left">
            <span>手机号：</span> <span>{{item.custPhone}}</span>
          </div>
          <div class="bg-light-gray pl text-left">
            <span>申请原因：</span> <span>{{item.reason}}</span>
          </div>
          <div class="bg-light-gray pl text-left">
            <span>订单编号：</span> <span>{{item.ordno}}</span>
          </div>
          <div class="bg-light-gray pl text-left">
            <span>商品编码：</span> <span>{{item.goodsCode}}</span>
          </div>
          <div class="bg-light-gray pl text-left">
            <span>商品名称：</span> <span>{{item.goodsName}}</span>
          </div>
          <div class="bg-light-gray pl text-left">
            <span>商品数量：</span> <span>{{item.num}}</span>
          </div>
          <div class="bg-light-gray pl text-left h35">
            <span class="fl">商品图片：</span>
            <span>
                 <img [src]="item.goodsImage| imgSize :'30'" appImgErr class="littleImg" title="点击查看大图"
                      (click)="showImg($event)"
                      (mouseout)="hideImg($event)">
                 <img [src]="item.goodsImage" appImgErr class="hover-big-img"
                 >
                </span>
          </div>
        </td>
      </tr>
      <!--详情 end-->
    </ng-container>
    </tbody>
  </nz-table>
  <!--引导语 start-->

</div>
<!--路由嵌套 begin-->
<router-outlet (activate)="activate()" (deactivate)='onDeactivate()'></router-outlet>
<!--路由嵌套 end-->
