<!--添加运费模板值begin-->
<div class="pt-30" *ngIf="linkType=='addArticle'">
  <form nz-form #addLimitForm="ngForm" >
    <div nz-form-item nz-row>
      <div nz-form-label nz-col [nzSpan]="3">
        <label nz-form-item-required>运费模板名称</label>
      </div>
      <div nz-col [nzSpan]="16">
        <nz-input name="userName" [nzType]="'text'" [nzPlaceHolder]="'请填写运费模板名称'" [nzSize]="'large'" name="tplName" [(ngModel)]="tplName">
        </nz-input>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col [nzSpan]="3">
        <label> 计价方式</label>
      </div>
      <div  nz-col [nzSpan]="16">
        <nz-radio-group name="valuationType" [(ngModel)]="valuationTypea">
          <label nz-radio [nzValue]="'NUM'"  (click)="number()">
            <span>按件数 </span>
          </label>
          <label nz-radio [nzValue]="'WEIGHT'" (click)="weight()">
            <span>按重量 </span>
          </label>
          <label nz-radio [nzValue]="'VOLUME'" (click)="volume()">
            <span>按体积 </span>
          </label>
        </nz-radio-group>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col [nzSpan]="3">
        <label nz-form-item-required>详细设置</label>
      </div>
      <div  nz-col [nzSpan]="16">
        <table class="freight-table w100 b">
        <thead>
        <tr *ngIf="one">
          <th class="w42 main-color text-left pl-20">
            运送到
          </th>
          <th class="w10 main-color">
           首件(件)
          </th>
          <th class="w12 main-color">
          首费(元)
          </th>
          <th class="w10 main-color">
            续件(件)
          </th>
          <th class="w12 main-color">
           续费(元)
          </th>
          <th class="w12 main-color">操作</th>
        </tr>
        <tr *ngIf="twe">
          <th class="w42 main-color text-left pl-20">
            运送到
          </th>
          <th class="w10 main-color">
            首重(Kg)
          </th>
          <th class="w12 main-color">
            首费(元)
          </th>
          <th class="w10 main-color">
            续重(Kg)
          </th>
          <th class="w12 main-color">
            续费(元)
          </th>
          <th class="w12 main-color">操作</th>
        </tr>
        <tr *ngIf="three">
          <th class="w42 main-color text-left pl-20">
            运送到
          </th>
          <th class="w10 main-color">
            首体积(㎡)
          </th>
          <th class="w12 main-color">
            首费(元)
          </th>
          <th class="w10 main-color">
            续体积(㎡)
          </th>
          <th class="w12 main-color">
            续费(元)
          </th>
          <th class="w12 main-color">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of moduleList;let i = index">
          <td class="pl-20">{{item.area_cn}}</td>
          <!--首件 start-->
          <td class="text-center">
            <nz-input  [nzType]="'number'" [nzSize]="'large'" [(ngModel)]="item.firstNum" name="firstNum"></nz-input>
          </td>
          <!--首件end-->

          <!--首费 start-->
          <td class="text-center">
            <nz-input  [nzType]="'number'" [nzSize]="'large'" [(ngModel)]="item.firstPrice" name="firstPrice"></nz-input>
          </td>
          <!--首费end-->

          <!--续件 start-->
          <td class="text-center">
            <nz-input  [nzType]="'number'" [nzSize]="'large'" name="addAttach" [(ngModel)]="item.addAttach"></nz-input>
          </td>
          <!--续件end-->

          <!--续费 start-->
          <td class="text-center">
            <nz-input  [nzType]="'number'" [nzSize]="'large'"  [(ngModel)]="item.addPrice" name="addPrice"></nz-input>
          </td>
          <!--续费end-->

          <!--操作按钮 start-->
          <td class="text-center">
            <!--修改运费模板值按钮-->
            <button nz-button title="为模板设置地区" (click)="edit(i);area_model = !area_model" class="btn-green">
              <i class="icon icon-diqu"></i>
            </button>
            <!--删除运费模板值按钮-->
            <nz-popconfirm [nzTitle]="'确定要删除吗？'" title="删除" (nzOnConfirm)="delete(organ,i)" (nzOnCancel)="cancel()"
                           [nzPlacement]="'top'">
              <button nz-popconfirm nz-button class="btn-warning"><i class="anticon anticon-delete"></i></button>
            </nz-popconfirm>
          </td>
          <!--续费end-->
        </tr>
        </tbody>
        <tfoot>
        <button class="m" nz-button [nzType]="'danger'" [nzGhost]="true">
          <span (click)="add()"><i class="anticon anticon-plus pr"></i>新增运费模板</span>
        </button>
        </tfoot>
      </table>
      </div>
    </div>

    <div nz-row class="freight-footer">
      <button nz-button [nzType]="'default'" [nzSize]="'large'" class="thc-btn-w" [routerLink]="freightTemplate">
        <span>取消</span>
      </button>
      <button nz-button [nzType]="'default'" [nzSize]="'large'"  class="thc-btn-w" (click)="addFormwork(addLimitForm)">
        <span>提交</span>
      </button>
    </div>
  </form>


</div>
<!--添加运费模板值end-->

<!--修改运费模板值begin-->
<div class="pt-30" *ngIf="linkType=='updataArticle'">
  <form nz-form #addLimitForm="ngForm">
    <div nz-form-item nz-row>
      <div nz-form-label nz-col [nzSpan]="3">
        <label nz-form-item-required>运费模板名称</label>
      </div>
      <div nz-col [nzSpan]="16" nz-form-control>
        <nz-input  [nzType]="'text'" [nzPlaceHolder]="'请填写运费模板名称'" [nzSize]="'large'" name="tplName" #modelname="ngModel" ngModel [(ngModel)]="staff.tplName">
        </nz-input>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col [nzSpan]="3">
        <label> 计价方式</label>
      </div>
      <div  nz-col [nzSpan]="16">
        <nz-radio-group name="valuationType" [(ngModel)]="valuationTypea">
          <label nz-radio [nzValue]="'NUM'" (click)="number()"    >
            <span>按件数 </span>
          </label>
          <label nz-radio [nzValue]="'WEIGHT'" (click)="weight()"    >
            <span>按重量 </span>
          </label>
          <label nz-radio [nzValue]="'VOLUME'" (click)="volume()" >
            <span>按体积 </span>
          </label>
        </nz-radio-group>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col [nzSpan]="3">
        <label nz-form-item-required>详细设置</label>
      </div>
      <div nz-form-control nz-col [nzSpan]="16">
        <table class="freight-table w100 b">
          <thead>
          <tr *ngIf="one">
            <th class="w42 main-color text-left pl-20">
              运送到
            </th>
            <th class="w10 main-color">
              首件(件)
            </th>
            <th class="w12 main-color">
              首费(元)
            </th>
            <th class="w10 main-color">
              续件(件)
            </th>
            <th class="w12 main-color">
              续费(元)
            </th>
            <th class="w12 main-color">操作</th>
          </tr>
          <tr *ngIf="twe">
            <th class="w42 main-color text-left pl-20">
              运送到
            </th>
            <th class="w10 main-color">
              首重(Kg)
            </th>
            <th class="w12 main-color">
              首费(元)
            </th>
            <th class="w10 main-color">
              续重(Kg)
            </th>
            <th class="w12 main-color">
              续费(元)
            </th>
            <th class="w12 main-color">操作</th>
          </tr>
          <tr *ngIf="three">
            <th class="w42 main-color text-left pl-20">
              运送到
            </th>
            <th class="w10 main-color">
              首体积(㎡)
            </th>
            <th class="w12 main-color">
              首费(元)
            </th>
            <th class="w10 main-color">
              续体积(㎡)
            </th>
            <th class="w12 main-color">
              续费(元)
            </th>
            <th class="w12 main-color">操作</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of staff.storeExpressTplValList;let i = index">
            <div class="hides pl-20">{{item.area | level2AreaName}}</div>
            <!--首件 start-->
            <td class="text-center">
              <nz-input  [nzType]="'number'" [nzSize]="'large'" [(ngModel)]="item.firstNum" name="firstNum{{i}}" #firstNum="ngModel"></nz-input>
            </td>
            <!--首件end-->

            <!--首费 start-->
            <td class="text-center">
              <nz-input  [nzType]="'number'" [nzSize]="'large'" [(ngModel)]="item.firstPrice" name="firstPrice{{i}}" #firstPrice="ngModel"></nz-input>
            </td>
            <!--首费end-->

            <!--续件 start-->
            <td class="text-center">
              <nz-input  [nzType]="'number'" [nzSize]="'large'" name="addAttach{{i}}" [(ngModel)]="item.addAttach" #addAttach="ngModel"></nz-input>
            </td>
            <!--续件end-->

            <!--续费 start-->
            <td class="text-center">
              <nz-input  [nzType]="'number'" [nzSize]="'large'" [(ngModel)]="item.addPrice" name="addPrice{{i}}" #addPrice="ngModel"></nz-input>
            </td>
            <!--续费end-->

            <!--操作按钮 start-->
            <td class="text-center">
              <!--修改运费模板值按钮-->
              <button nz-button title="为模板设置地区" (click)="edit(i);area_model = !area_model" class="btn-green">
                <i class="icon icon-diqu"></i>
              </button>
              <!--删除运费模板值按钮-->
              <button  nz-button class="btn-warning"  title="删除" (click)="delete(organ,i)">
                <i class="anticon anticon-delete"></i>
              </button>
            </td>
            <!--续费end-->
          </tr>
          </tbody>
          <tfoot>
          <button class="m" nz-button [nzType]="'danger'" [nzGhost]="true">
            <span (click)="add()"><i class="anticon anticon-plus pr"></i>新增运费模板</span>
          </button>
          </tfoot>
        </table>
      </div>
    </div>
    <div nz-row class="freight-footer">
      <button nz-button [nzType]="'default'" [nzSize]="'large'" class="thc-btn-w" [routerLink]="freightTemplate">
        <span>取消</span>
      </button>
      <button nz-button [nzType]="'default'" [nzSize]="'large'" class="thc-btn-w" (click)="addFormwork(addLimitForm)">
        <span>提交</span>
      </button>
    </div>
  </form>
</div>
<!--修改运费模板值end-->

<div class="model" *ngIf="area_model">
  <div class="mask"></div>
  <div class="model-main">
    <div class="header">
      <span>选择区域</span><span class="icon" (click)="close();area_model = !area_model">关闭</span>
    </div>
    <div class="model-body">
      <table class="table table-striped">
        <tbody>
        <tr *ngFor="let v of data; let i = index">
          <td>
            <div>
              <label nz-checkbox [(ngModel)]="allCheckeds[i]['allChecked']"
                     [nzDisabled]="allCheckeds[i]['disabled']"
                     (click)="clear()"
                     (ngModelChange)="updateAllChecked(i, null, v.provices)">
                <span>{{v?.label}}</span>
              </label>
            </div>
          </td>
          <td class="area-item">
            <div class="ncsc-province" *ngFor="let name of v.provices; let j = index">
              <ng-container>
                <label nz-checkbox [(ngModel)]="v.provices[j]['checked']"
                       [nzDisabled]="v.provices[j]['disabled']"
                       (ngModelChange)="updateAllchildChecked(i, j, name.areaCode)">
                  <span>{{name.label}}{{getCount(name.areaCode)}}</span>
                </label>
                <i class="anticon"
                   [ngClass]="{'anticon-down': allCheckeds[i]['content'][j]['childChecked'], 'anticon-right':
                   !allCheckeds[i]['content'][j]['childChecked']}"
                   (click)="clear(i, j);
                   allCheckeds[i]['content'][j]['childChecked'] = !allCheckeds[i]['content'][j]['childChecked']">
                </i>
                <div class="ncsc-citys-sub"  [ngStyle]="{display: allCheckeds[i]['content'][j]['childChecked'] ? 'block': 'none'}">
                  <nz-checkbox-group [(ngModel)]="checkOptionsOnes[name.areaCode][0]"
                                     style=""
                                     (ngModelChange)="updateSingleChecked(i, j, name.areaCode)">
                  </nz-checkbox-group>
                  <button class="btn-info" style="position: absolute; right: 0; bottom: 0;" (click)="allCheckeds[i]['content'][j]['childChecked'] = false"> 关闭</button>
                </div>
              </ng-container>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div nz-row class="model-bottom">
      <button class="btn btn-default ml lr" nz-button [nzType]="'default'" [nzSize]="'large'" class="thc-btn-w" [routerLink]="storeHome" (click)="close(); area_model = !area_model">
        <span>放弃操作</span>
      </button>
      <button class="ml btn btn-info pull-left ml" nz-button [nzType]="'default'" [nzSize]="'large'" class="thc-btn-w" (click)="getResult(); area_model = !area_model;">
        <span>提交信息</span>
      </button>
    </div>
  </div>
</div>
