<!--企业入驻 start-->
<div nz-row class="p-20">
  <form nz-form class="p-20" #baseInfoForm="ngForm">
    <!--企业基本信息 start-->
    <div class="fieldset">
      <div class="legend bb-dashed">企业基本信息</div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>企业名称</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="ngValidateStatus(ngEpName)" nzHasFeedback>
          <nz-input name="epName" [(ngModel)]="validateForm.epName" required [nzType]="'text'" [nzPlaceHolder]="'企业名称'"
                    [nzSize]="'large'" #ngEpName="ngModel" minlength="2">
          </nz-input>
          <div nz-form-explain *ngIf="ngValidateErrorMsg(ngEpName) == valitateState.empty">
            请输入企业名称！
          </div>
          <div nz-form-explain *ngIf="ngValidateErrorMsg(ngEpName) == valitateState.error">
            请输入正确的企业名称！
          </div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>企业邮箱</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="ngValidateStatus(ngContactsEmail)" nzHasFeedback>
          <nz-input name="contactsEmail" [(ngModel)]="validateForm.contactsEmail"
                    [nzPlaceHolder]="'请输入企业邮箱'" [pattern]="patternService.email"
                    [nzType]="'email'" [nzSize]="'large'" required #ngContactsEmail="ngModel">
          </nz-input>
          <div nz-form-explain *ngIf="ngValidateErrorMsg(ngContactsEmail) == valitateState.error">
            不是正确的邮箱！
          </div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label>负责人姓名</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="ngValidateStatus(ngContactsName)" nzHasFeedback>
          <nz-input [nzType]="'text'" name="contactsName" [(ngModel)]="validateForm.contactsName"
                    #ngContactsName="ngModel" [nzPlaceHolder]="'请输入联系人姓名'" [nzSize]="'large'">
          </nz-input>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label>负责人电话</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="ngValidateStatus(ngContactsPhone)" nzHasFeedback>
          <nz-input name="contactsPhone" [(ngModel)]="validateForm.contactsPhone"
                    [nzType]="'tel'" [pattern]="patternService.phone"
                    #ngContactsPhone="ngModel" [nzPlaceHolder]="'联系人手机号'" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain *ngIf="ngValidateErrorMsg(ngContactsPhone) == valitateState.error">手机号码不正确！
          </div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>证件类型</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="8">
          <nz-radio-group name="idType" [(ngModel)]="validateForm.idType">
            <label *ngFor="let item of papersTypes" nz-radio [nzValue]="item.key">
              <span>{{item.val}}</span>
            </label>
          </nz-radio-group>
        </div>
      </div>
      <!-- 三证合一 -->
      <ng-container *ngIf="validateForm.idType==enumStates.papersType.unity">
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="8">
            <label nz-form-item-required>社会信用代码</label>
          </div>
          <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="ngValidateStatus(ngCreditCode)" nzHasFeedback>
            <nz-input name="creditCode" [(ngModel)]="validateForm.creditCode" #ngCreditCode="ngModel"
                      [pattern]="patternService.creditCode" [nzType]="'text'" required
                      [nzPlaceHolder]="'请输入社会信用代码'" [nzSize]="'large'">
            </nz-input>
            <div nz-form-explain
                 *ngIf="ngValidateErrorMsg(ngContactsPhone) == valitateState.empty">
              请输入社会信用代码！
            </div>
            <div nz-form-explain
                 *ngIf="ngValidateErrorMsg(ngContactsPhone) == valitateState.error">
              请输入正确的社会信用代码！
            </div>
          </div>
        </div>
      </ng-container>

      <!-- 普通营业执照 -->
      <ng-container *ngIf="validateForm.idType==enumStates.papersType.normal">
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="8">
            <label nz-form-item-required>税务登记证号</label>
          </div>
          <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="ngValidateStatus(ngTaxRegistrationCertificate)"
               nzHasFeedback>
            <nz-input name="taxRegistrationCertificate" [(ngModel)]="validateForm.taxRegistrationCertificate"
                      #ngTaxRegistrationCertificate="ngModel" [nzType]="'text'" required
                      [pattern]="patternService.taxCode"
                      [nzPlaceHolder]="'税务登记证号'" [nzSize]="'large'">
            </nz-input>
            <div nz-form-explain
                 *ngIf="ngValidateErrorMsg(ngTaxRegistrationCertificate)==valitateState.empty">
              请输入税务登记证号！
            </div>
          </div>
        </div>
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="8">
            <label nz-form-item-required>纳税登记证电子版</label>
          </div>
          <div nz-col [nzSpan]="8" nz-form-control>
            <label class="file-upload">
              <i class="anticon anticon-cloud-upload-o"></i>上传纳税登记证电子版
              <input class="w100" type="file" name="taxRegistrationCertificateElectronic" ng2FileSelect
                     [uploader]="taxRegistrationUploader" required
                     accept="image/*" (change)="taxRegistrationFileChangeListener()"/>
            </label>
            <div nz-form-explain
                 *ngIf="!validateForm.taxRegistrationCertificateElectronic && !taxRegistrationUploader.queue[0]">
              请上传纳税登记证电子版！
            </div>
          </div>
          <div nz-col [nzSpan]="8">
            <!--上传图片的时候-->
            <ng-container *ngIf="taxRegistrationUploader.queue[0]">
              <div class="uploaded">
                <nz-popover [nzTrigger]="'click'">
                  <img [src]="taxRegistrationUploader.queue[0]?._file | imgPreview" height="50"
                       title="点击看大图" nz-popover>
                  <ng-template #nzTemplate>
                    <div><img [src]="taxRegistrationUploader.queue[0]?._file | imgPreview" height="200"></div>
                  </ng-template>
                </nz-popover>
              </div>
            </ng-container>
            <!--修改图片的时候-->
            <ng-container *ngIf="validateForm.taxRegistrationCertificateElectronic && !taxRegistrationUploader.queue[0]">
              <div class="uploaded">
                <nz-popover [nzTrigger]="'click'">
                  <img [src]="validateForm.taxRegistrationCertificateElectronic | imgSize: '50'" title="点击看大图"
                       nz-popover>
                  <ng-template #nzTemplate>
                    <div><img [src]="validateForm.taxRegistrationCertificateElectronic | imgSize: '200'" [alt]="'纳税登记证'">></div>
                  </ng-template>
                </nz-popover>
              </div>
            </ng-container>
          </div>
        </div>
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="8">
            <label nz-form-item-required>组织机构代码</label>
          </div>
          <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="ngValidateStatus(ngOrganizationCode)"
               nzHasFeedback>
            <nz-input name="organizationCode" [(ngModel)]="validateForm.organizationCode" required
                      #ngOrganizationCode="ngModel" [nzType]="'text'"
                      [nzPlaceHolder]="'请输入组织机构代码'" [pattern]="patternService.orgCode"
                      [nzSize]="'large'">
            </nz-input>
            <div nz-form-explain
                 *ngIf="ngValidateErrorMsg(ngOrganizationCode)==valitateState.empty">
              请输入组织机构代码！
            </div>
          </div>
        </div>
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="8">
            <label nz-form-item-required>组织机构代码证电子版</label>
          </div>
          <div nz-col [nzSpan]="8" nz-form-control>
            <label class="file-upload">
              <i class="anticon anticon-cloud-upload-o"></i>上传组织机构代码电子版
              <input class="w100" type="file" name="organizationCodeElectronic" ng2FileSelect
                     [uploader]="organizationCodeUploader"
                     accept="image/*" (change)="organizationCodeFileChangeListener()"/>
            </label>
            <div nz-form-explain
                 *ngIf="!validateForm.organizationCodeElectronic && !organizationCodeUploader.queue[0]">
              请上传组织机构代码电子版！
            </div>
          </div>
          <div nz-col [nzSpan]="8">
            <!--上传图片的时候-->
            <ng-container *ngIf="organizationCodeUploader.queue[0]">
              <div class="uploaded">
                <nz-popover [nzTrigger]="'click'">
                  <img [src]="organizationCodeUploader.queue[0]?._file | imgPreview" height="50"
                       title="点击看大图" nz-popover>
                  <ng-template #nzTemplate>
                    <div><img [src]="organizationCodeUploader.queue[0]?._file | imgPreview" height="200"></div>
                  </ng-template>
                </nz-popover>
              </div>
            </ng-container>
            <!--修改图片的时候-->
            <ng-container *ngIf="validateForm.organizationCodeElectronic && !organizationCodeUploader.queue[0]">
              <div class="uploaded">
                <nz-popover [nzTrigger]="'click'">
                  <img [src]="validateForm.organizationCodeElectronic | imgSize: '50'" title="点击看大图" nz-popover>
                  <ng-template #nzTemplate>
                    <div><img [src]="validateForm.organizationCodeElectronic | imgSize: '200'" [alt]="'组织机构代码'">></div>
                  </ng-template>
                </nz-popover>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
    <!--企业基本信息 end-->

    <!--企业法人信息 start-->
    <div class="fieldset">
      <div class="legend bb-dashed title">企业法人信息</div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>法人姓名</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="ngValidateStatus(ngLegalPersonName)" nzHasFeedback>
          <nz-input name="legalPersonName" [(ngModel)]="validateForm.legalPersonName"
                    [nzType]="'text'" #ngLegalPersonName="ngModel" required minlength="1"
                    [nzPlaceHolder]="'请输入法人姓名'" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain *ngIf="ngValidateErrorMsg(ngLegalPersonName)==valitateState.empty">
            请输入法人姓名！
          </div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>法人身份证号</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="ngValidateStatus(ngLegalPersonIdcard)"
             nzHasFeedback>
          <nz-input name="legalPersonIdcard" [(ngModel)]="validateForm.legalPersonIdcard"
                    #ngLegalPersonIdcard="ngModel" [nzType]="'text'" required
                    [nzPlaceHolder]="'请输入法人身份证号'" [pattern]="patternService.idcard"
                    [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain *ngIf="ngValidateErrorMsg(ngLegalPersonIdcard)==valitateState.empty">
            请输入法人身份证号！
          </div>
          <div nz-form-explain *ngIf="ngValidateErrorMsg(ngLegalPersonIdcard)==valitateState.error">
            身份证号码错误！
          </div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>是否长期有效</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control>
          <nz-switch name="isForever" class="thc lg" [nzSize]="'large'" [(ngModel)]="validateForm.isForever">
            <span checked>是</span>
            <span unchecked>否</span>
          </nz-switch>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>{{validateForm.isForever?'法人身份证有效起始期':'法人身份证有效期'}}</label>
        </div>
        <div>
          <div nz-form-control>
            <div nz-col [nzSpan]="4">
              <div nz-form-item nz-row>
                <div>
                  <div nz-form-control [nzValidateStatus]="ngValidateStatus(ngIdcardStartTime)"
                       nzHasFeedback>
                    <nz-datepicker name="idcardStartTime" [(ngModel)]="validateForm.idcardStartTime"
                                   #ngIdcardStartTime="ngModel" [nzSize]="'large'" required
                                   [nzDisabledDate]="_disabledIdCardStartDate"
                                   [nzPlaceHolder]="'起始日期'"></nz-datepicker>
                  </div>
                </div>
              </div>
            </div>
            <ng-container *ngIf="!validateForm.isForever">
              <span class="fl pl-5 pr-5">-</span>
              <div nz-col [nzSpan]="4">
                <div nz-form-item nz-row>
                  <div>
                    <div nz-form-control [nzValidateStatus]="ngValidateStatus(ngIdcardEndTime)"
                         nzHasFeedback>
                      <nz-datepicker name="idcardEndTime" [(ngModel)]="validateForm.idcardEndTime"
                                     #ngIdcardEndTime="ngModel" [nzSize]="'large'" required
                                     [nzDisabledDate]="_disabledIdCardEndDate"
                                     [nzPlaceHolder]="'结束日期'"></nz-datepicker>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <!--企业法人信息 end-->

    <!--营业执照信息 start-->
    <div class="fieldset">
      <div class="legend bb-dashed">营业执照信息</div>
      <!-- 普通营业执照需要填注册号 -->
      <div nz-form-item nz-row *ngIf="validateForm.idType==enumStates.papersType.normal">
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>营业执照注册号</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="ngValidateStatus(ngBusinessLicence)"
             nzHasFeedback>
          <nz-input name="businessLicence" [(ngModel)]="validateForm.businessLicence" [nzType]="'number'"
                    [nzPlaceHolder]="'营业执照注册号'" [pattern]="patternService.buno"
                    #ngBusinessLicence="ngModel" required
                    [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain
               *ngIf="ngValidateErrorMsg(ngBusinessLicence)==valitateState.empty">
            请输入营业执照注册号！
          </div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>注册资本</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="ngValidateStatus(ngBusinessRegisteredCapital)"
             nzHasFeedback>
          <nz-input name="businessRegisteredCapital" [(ngModel)]="validateForm.businessRegisteredCapital"
                    #ngBusinessRegisteredCapital="ngModel" [nzType]="'text'" required [nzPlaceHolder]="'注册资本'"
                    [nzSize]="'large'" maxlength="16">
          </nz-input>
          <div nz-form-explain *ngIf="ngValidateErrorMsg(ngBusinessRegisteredCapital)==valitateState.empty">
            请填写注册资本！
          </div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>法定经营范围</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="ngValidateStatus(ngBusinessSphere)"
             nzHasFeedback>
          <nz-input name="businessSphere" [(ngModel)]="validateForm.businessSphere"
                    #ngBusinessSphere="ngModel" [nzType]="'text'" required maxlength="32"
                    [nzPlaceHolder]="'法定经营范围'" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain *ngIf="ngValidateErrorMsg(ngBusinessSphere)==valitateState.empty">
            请输入法定经营范围！
          </div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>营业执照所在地</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="ngValidateStatus(ngBusinessLicenceAreaCode)"
             nzHasFeedback>
          <nz-cascader name="businessLicenceAreaCode" [(ngModel)]="validateForm.businessLicenceAreaCode"
                       #ngBusinessLicenceAreaCode="ngModel" required
                       [nzSize]="'large'"
                       [nzPlaceHolder]="'请选择'"
                       [nzExpandTrigger]="'click'"
                       [nzChangeOnSelect]="true"
                       [nzOptions]="_options">
          </nz-cascader>
          <div nz-form-explain *ngIf="ngValidateErrorMsg(ngBusinessLicenceAreaCode)==valitateState.empty">
            请选择营业执照地区！
          </div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>详细地址</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="ngValidateStatus(ngBusinessLicenceAddress)"
             nzHasFeedback>
          <nz-input name="businessLicenceAddress" [(ngModel)]="validateForm.businessLicenceAddress" required
                    [nzType]="'textarea'" [nzPlaceHolder]="'详细地址'" #ngBusinessLicenceAddress="ngModel" maxlength="32"
                    [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain
               *ngIf="ngValidateErrorMsg(ngBusinessLicenceAddress)==valitateState.empty">
            请输入详细地址！
          </div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>营业执照有效期</label>
        </div>
        <div>
          <div nz-form-control>
            <div nz-col [nzSpan]="4">
              <div nz-form-item nz-row>
                <div>
                  <div nz-form-control [nzValidateStatus]="ngValidateStatus(ngBusinessLicenceStart)"
                       nzHasFeedback>
                    <nz-datepicker name="businessLicenceStart" [(ngModel)]="validateForm.businessLicenceStart"
                                   [nzSize]="'large'" #ngBusinessLicenceStart="ngModel" required
                                   [nzDisabledDate]="_disabledBusinessLicenceStartDate"
                                   [nzPlaceHolder]="'起始日期'"></nz-datepicker>
                  </div>
                </div>
              </div>
            </div>
            <span class="fl pl-5 pr-5">-</span>
            <div nz-col [nzSpan]="4">
              <div nz-form-item nz-row>
                <div>
                  <div nz-form-control [nzValidateStatus]="ngValidateStatus(ngBusinessLicenceEnd)"
                       nzHasFeedback>
                    <nz-datepicker name="businessLicenceEnd" [(ngModel)]="validateForm.businessLicenceEnd"
                                   [nzSize]="'large'" #ngBusinessLicenceEnd="ngModel" required
                                   [nzDisabledDate]="_disabledBusinessLicenceEndDate"
                                   [nzPlaceHolder]="'结束日期'"></nz-datepicker>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>营业执照电子版</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control>
          <label class="file-upload">
            <i class="anticon anticon-cloud-upload-o"></i>上传电子版营业执照
            <input class="w100" type="file" name="businessLicenceNumberElectronic" ng2FileSelect
                   [uploader]="businessLicenceUploader" required
                   accept="image/*" (change)="businessLicenceFileChangeListener()"/>
          </label>
          <div nz-form-explain
               *ngIf="!validateForm.businessLicenceNumberElectronic && !businessLicenceUploader.queue[0]">
            请上传电子版营业执照
          </div>
        </div>
        <div nz-col [nzSpan]="8">
          <!--上传图片的时候-->
          <ng-container *ngIf="businessLicenceUploader.queue[0]">
            <div class="uploaded">
              <nz-popover [nzTrigger]="'click'">
                <img [src]="businessLicenceUploader.queue[0]?._file | imgPreview" height="50"
                     title="点击看大图" nz-popover>
                <ng-template #nzTemplate>
                  <div><img [src]="businessLicenceUploader.queue[0]?._file | imgPreview" height="200"></div>
                </ng-template>
              </nz-popover>
            </div>
          </ng-container>
          <!--修改图片的时候-->
          <ng-container *ngIf="validateForm.businessLicenceNumberElectronic && !businessLicenceUploader.queue[0]">
            <div class="uploaded">
              <nz-popover [nzTrigger]="'click'">
                <img [src]="validateForm.businessLicenceNumberElectronic | imgSize: '50'" title="点击看大图" nz-popover>
                <ng-template #nzTemplate>
                  <div><img [src]="validateForm.businessLicenceNumberElectronic | imgSize: '200'" [alt]="'营业执照'"></div>
                </ng-template>
              </nz-popover>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <!--营业执照信息 end-->

    <!--操作按钮 start-->
    <div nz-row class="text-center p-20 bt">
      <button nz-button [disabled]="!baseInfoForm.form.valid" [nzSize]="'large'" class="thc-btn-w"
              (click)="submitCompleteForm($event)">
        <span>下一步</span>
      </button>
    </div>
    <!--操作按钮 end-->
  </form>
</div>
