<!--开通店铺 start-->
<div nz-row class="p-20 edit-shop-bg">
  <button nz-button [nzType]="'danger'" [nzShape]="'circle'" class="page-back" (click)="back()" title="返回">
    <i class="anticon anticon-rollback font20"></i>
  </button>
  <form nz-form class="p-20" #dredgeStoreForm = "ngForm">
    <!--店铺基本信息 start-->
    <div class="mb-20">
      <div class="legend bb-dashed">店铺基本信息</div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label>店铺logo</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control>
          <label class="file-upload">
            <i class="anticon anticon-cloud-upload-o"></i>修改店铺logo
            <input class="w100" type="file" name="storeLabel" ng2FileSelect accept="image/*"
                   [uploader]="storeLabelUploader" (change)="storeLabelFileChangeListener()"/>
          </label>
        </div>
        <div nz-col [nzSpan]="8">
          <!--上传图片的时候-->
          <ng-container *ngIf="storeLabelUploader.queue[0]">
            <div class="uploaded">
              <nz-popover [nzTrigger]="'click'">
                <img [src]="storeLabelUploader.queue[0]?._file | imgPreview" appImgErr height="50"
                    nz-popover>
                <ng-template #nzTemplate>
                  <div><img [src]="storeLabelUploader.queue[0]?._file | imgPreview" height="200"></div>
                </ng-template>
              </nz-popover>
            </div>
          </ng-container>
          <!--修改图片的时候-->
          <ng-container *ngIf="validateForm.storeLabel && !storeLabelUploader.queue[0]">
            <div class="uploaded">
              <nz-popover [nzTrigger]="'click'">
                <img [src]="validateForm.storeLabel | imgSize: '50'"  height="50" appImgErr nz-popover>
                <ng-template #nzTemplate>
                  <div><img [src]="validateForm.storeLabel | imgSize: '200'"></div>
                </ng-template>
              </nz-popover>
            </div>
          </ng-container>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label>店铺头像</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control>
          <label class="file-upload">
            <i class="anticon anticon-cloud-upload-o"></i>修改店铺头像
            <input class="w100" type="file" name="storeAvatar" ng2FileSelect accept="image/*"
                   [uploader]="storeAvatarUploader" (change)="storeAvatarFileChangeListener()"/>
          </label>
        </div>
        <div nz-col [nzSpan]="8">
          <!--上传图片的时候-->
          <ng-container *ngIf="storeAvatarUploader.queue[0]">
            <div class="uploaded">
              <nz-popover [nzTrigger]="'click'">
                <img [src]="storeAvatarUploader.queue[0]?._file | imgPreview" appImgErr height="50" nz-popover>
                <ng-template #nzTemplate>
                  <div><img [src]="storeAvatarUploader.queue[0]?._file | imgPreview" height="200"></div>
                </ng-template>
              </nz-popover>
            </div>
          </ng-container>
          <!--修改图片的时候-->
          <ng-container *ngIf="validateForm.storeAvatar && !storeAvatarUploader.queue[0]">
            <div class="uploaded">
              <nz-popover [nzTrigger]="'click'">
                <img [src]="validateForm.storeAvatar | imgSize: '50'" height="50" appImgErr nz-popover>
                <ng-template #nzTemplate>
                  <div><img [src]="validateForm.storeAvatar | imgSize: '200'"></div>
                </ng-template>
              </nz-popover>
            </div>
          </ng-container>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label>QQ</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="ngValidateStatus(ngStoreQq)" nzHasFeedback>
          <nz-input name="storeQq" [nzType]="'text'" [(ngModel)]="validateForm.storeQq" #ngStoreQq="ngModel"
                    [nzPlaceHolder]="'QQ'" [nzSize]="'large'" minlength="6">
          </nz-input>
          <div nz-form-explain *ngIf="ngValidateErrorMsg(ngStoreQq) == valitateState.empty">
            请输入店铺QQ！
          </div>
          <div nz-form-explain *ngIf="ngValidateErrorMsg(ngStoreQq) == valitateState.error">
            请输入正确的QQ！
          </div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label>阿里旺旺账号</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="ngValidateStatus(ngStoreWw)" nzHasFeedback>
          <nz-input name="storeWw" [(ngModel)]="validateForm.storeWw" #ngStoreWw="ngModel" [nzType]="'text'"
                    [nzPlaceHolder]="'阿里旺旺账号'" [nzSize]="'large'" minlength="6">
          </nz-input>
          <div nz-form-explain *ngIf="ngValidateErrorMsg(ngStoreWw) == valitateState.empty">
            请输入店铺阿里旺旺账号！
          </div>
          <div nz-form-explain *ngIf="ngValidateErrorMsg(ngStoreWw) == valitateState.error">
            请输入正确的阿里旺旺账号！
          </div>
        </div>
      </div>
    </div>
    <!--企业基本信息 end-->

    <div nz-row class="text-center p-20 bt">
      <button nz-button [nzSize]="'large'" [disabled]="!dredgeStoreForm.form.valid" class="btn-thc"
              (click)="submitShopForm($event)">
        <span>提交</span>
      </button>
    </div>
  </form>
</div>
<!--开通店铺 end-->
