<!--企业银行账户信息 start-->
<div nz-row class="p-20">
  <form nz-form class="p-20" #accountInfoForm="ngForm">
    <!--开户行信息 start-->
    <div class="fieldset">
      <div class="legend bb-dashed">开户行信息</div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>银行开户名</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="ngValidateStatus(ngBankAccountName)" nzHasFeedback>
          <nz-input name="bankAccountName" [(ngModel)]="validateForm.bankAccountName" #ngBankAccountName="ngModel"
                    required [nzType]="'text'" [nzPlaceHolder]="'银行开户名'" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain *ngIf="ngValidateErrorMsg(ngBankAccountName)==valitateState.empty">
            请输入银行开户名！
          </div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>公司银行账号</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="ngValidateStatus(ngBankAccountNumber)"
             nzHasFeedback>
          <nz-input name="bankAccountNumber" [(ngModel)]="validateForm.bankAccountNumber" #ngBankAccountNumber="ngModel"
                    required [nzType]="'text'" [nzPlaceHolder]="'公司银行账号'"
                    [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain *ngIf="ngValidateErrorMsg(ngBankAccountNumber)==valitateState.empty">
            请输入公司银行账号！
          </div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>开户行支行名称</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="ngValidateStatus(ngBankName)"
             nzHasFeedback>
          <nz-input name="bankName" [(ngModel)]="validateForm.bankName" #ngBankName="ngModel"
                    required [nzType]="'text'" [nzPlaceHolder]="'开户行支行名称'"
                    [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain *ngIf="ngValidateErrorMsg(ngBankName)==valitateState.empty">
            请输入开户行支行名称！
          </div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>开户支行联行号</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="ngValidateStatus(ngBankCode)"
             nzHasFeedback>
          <nz-input name="bankCode" [(ngModel)]="validateForm.bankCode" #ngBankCode="ngModel"
                    required [nzType]="'text'" [nzPlaceHolder]="'开户支行联行号'"
                    [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain *ngIf="ngValidateErrorMsg(ngBankCode)==valitateState.empty">
            请输入开户支行联行号！
          </div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>开户银行地址</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="ngValidateStatus(ngBankAddress)"
             nzHasFeedback>
          <nz-cascader name="bankAddress" [nzSize]="'large'"
                       [(ngModel)]="validateForm.bankAddress"
                       #ngBankAddress="ngModel" required
                       [nzPlaceHolder]="'请选择'"
                       [nzExpandTrigger]="'hover'"
                       [nzChangeOnSelect]="true"
                       [nzOptions]="_options">
          </nz-cascader>
          <div nz-form-explain *ngIf="ngValidateErrorMsg(ngBankAddress)==valitateState.empty">
            请选择开户银行地址！
          </div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>开户银行许可证电子版</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control>
          <label class="file-upload">
            <i class="anticon anticon-cloud-upload-o"></i>上传开户银行许可证电子版
            <input class="w100" type="file" name="bankLicenceElectronic" ng2FileSelect [uploader]="bankLicenceUploader"
                   accept="image/*" (change)="bankLicenceFileChangeListener()"/>
          </label>
          <div nz-form-explain *ngIf="!validateForm.bankLicenceElectronic&&!bankLicenceUploader.queue[0]">
            请上传开户银行许可证电子版！
          </div>
        </div>
        <div nz-col [nzSpan]="8">
          <!--上传图片的时候-->
          <ng-container *ngIf="bankLicenceUploader.queue[0]">
            <div class="uploaded">
              <nz-popover [nzTrigger]="'click'">
                <img [src]="bankLicenceUploader.queue[0]?._file | imgPreview" height="50"
                     title="点击看大图" nz-popover>
                <ng-template #nzTemplate>
                  <div><img [src]="bankLicenceUploader.queue[0]?._file | imgPreview" height="200"></div>
                </ng-template>
              </nz-popover>
            </div>
          </ng-container>
          <!--修改图片的时候-->
          <ng-container *ngIf="validateForm.bankLicenceElectronic && !bankLicenceUploader.queue[0]">
            <div class="uploaded">
              <nz-popover [nzTrigger]="'click'">
                <img [src]="validateForm.bankLicenceElectronic | imgSize: '50'" title="点击看大图" nz-popover>
                <ng-template #nzTemplate>
                  <div><img [src]="validateForm.bankLicenceElectronic | imgSize: '200'"></div>
                </ng-template>
              </nz-popover>
            </div>
          </ng-container>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-col [nzSpan]="8" nz-form-label>
          <label nz-form-item-required>是否为结算账户</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control>
          <nz-switch name="isSettlementAccount" [(ngModel)]="validateForm.isSettlementAccount" class="lg thc">
            <span checked>是</span>
            <span unchecked>否</span>
          </nz-switch>
        </div>
      </div>
    </div>
    <!--开户行信息 end-->

    <!--结算账户信息 start-->
    <div class="fieldset" *ngIf="!validateForm.isSettlementAccount">
      <div class="legend bb-dashed">结算账户信息</div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>结算银行开户名</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="ngValidateStatus(ngSettlementBankAccountName)"
             nzHasFeedback>
          <nz-input name="settlementBankAccountName" [(ngModel)]="validateForm.settlementBankAccountName"
                    #ngSettlementBankAccountName="ngModel" required [nzType]="'text'" [nzPlaceHolder]="'结算银行开户名'"
                    [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain *ngIf="ngValidateErrorMsg(ngSettlementBankAccountName)==valitateState.empty">
            请输入结算银行开户名！
          </div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>结算银行账号</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="ngValidateStatus(ngSettlementBankAccountNumber)"
             nzHasFeedback>
          <nz-input name="settlementBankAccountNumber" [(ngModel)]="validateForm.settlementBankAccountNumber"
                    #ngSettlementBankAccountNumber="ngModel"
                    required [nzType]="'text'" [nzPlaceHolder]="'结算银行账号'"
                    [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain *ngIf="ngValidateErrorMsg(ngSettlementBankAccountNumber)==valitateState.empty">
            请输入结算银行账号！
          </div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>结算账户开户行支行名称</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="ngValidateStatus(ngSettlementBankName)"
             nzHasFeedback>
          <nz-input name="settlementBankName" [(ngModel)]="validateForm.settlementBankName"
                    #ngSettlementBankName="ngModel"
                    required [nzType]="'text'" [nzPlaceHolder]="'结算账户开户行支行名称'"
                    [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain *ngIf="ngValidateErrorMsg(ngSettlementBankName)==valitateState.empty">
            请输入结算账户开户行支行名称！
          </div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>结算账户开户行支行联行号</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="ngValidateStatus(ngSettlementBankCode)"
             nzHasFeedback>
          <nz-input name="settlementBankCode" [(ngModel)]="validateForm.settlementBankCode"
                    #ngSettlementBankCode="ngModel"
                    required [nzType]="'text'" [nzPlaceHolder]="'结算账户开户行支行联行号'"
                    [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain *ngIf="ngValidateErrorMsg(ngSettlementBankCode)==valitateState.empty">
            请输入结算账户开户行支行联行号！
          </div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>结算账户开户行所在地</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="ngValidateStatus(ngSettlementBankAddress)"
             nzHasFeedback>
          <nz-cascader name="settlementBankAddress" [nzSize]="'large'"
                       [(ngModel)]="validateForm.settlementBankAddress"
                       #ngSettlementBankAddress="ngModel"
                       required
                       [nzPlaceHolder]="'请选择'"
                       [nzExpandTrigger]="'hover'"
                       [nzChangeOnSelect]="true"
                       [nzOptions]="_options">
          </nz-cascader>
          <div nz-form-explain *ngIf="ngValidateErrorMsg(ngSettlementBankAddress)==valitateState.empty">
            请选择结算账户开户行所在地！
          </div>
        </div>
      </div>
    </div>
    <!--结算账户信息 end-->

    <!--操作按钮 start-->
    <div nz-row class="text-center p-20 bt">
      <button nz-button [nzSize]="'large'" class="btn-blue" (click)="skipTo('baseInfo')">
        <span>上一步</span>
      </button>
      <button nz-button [nzSize]="'large'" [disabled]="!accountInfoForm.form.valid" class="thc-btn-w"
              (click)="submitCompleteForm($event)">
        <span>提交申请</span>
      </button>
    </div>
    <!--操作按钮 end-->
  </form>
</div>
<!--企业银行账户信息 end-->
