<div class="panel panel-default">
  <div class="page-msg m">
    <p class="font16 mb">操作提示</p>
    <ul>
      <li>买家提交退款申请，选择预存款方式支付的,卖家同意并经过平台确认后会将金额以预存款的形式返还给买家。买家选择在线支付方式的，会把在线支付金额原路返回到账号上。
        如果订单同时使用了在线支付方式和预存款支付方式，则会优先使用在线支付方式退款，当在线退款可退款金额为0后才会使用预存款方式退款。
      </li>
      <li>平台也可以不经过商家处理，直接处理退款申请，退款给买家。</li>
    </ul>
  </div>

  <!--搜索 start-->
  <div class="mb-15">
    <form nz-form class="bg-white p-15">
      <div class="search-group ml-20 mb">
        <span class="search-title">售后单状态：</span>
        <div class="search-main">
          <nz-select class="w100" name="saleAfter" [(ngModel)]="query.saleAfterState" [nzSize]="'large'"
                     (ngModelChange)="queryOrdList()">
            <nz-option [nzLabel]="'全部'" [nzValue]="''"></nz-option>
            <nz-option
              *ngFor="let item of saleAfterStates"
              [nzLabel]="item.val"
              [nzValue]="item.key">
            </nz-option>
          </nz-select>
        </div>
      </div>
      <div class="search-group ml-20 mb">
        <span class="search-title">是否收到货：</span>
        <div class="search-main">
          <nz-select class="w100" name="isReceive" [(ngModel)]="query.isReceive" [nzSize]="'large'"
                     (ngModelChange)="queryOrdList()">
            <nz-option [nzLabel]="'全部'" [nzValue]="''"></nz-option>
            <nz-option
              *ngFor="let item of isReceiveList"
              [nzLabel]="item.val"
              [nzValue]="item.key">
            </nz-option>
          </nz-select>
        </div>
      </div>
      <div class="search-group ml-20 mb _special">
          <span class="search-title ml-20">
            <nz-select class="w100" name="searchType" [(ngModel)]="query.searchType" [nzSize]="'large'" #sType
                       (change)="changeSearchType(sType.value)">
              <nz-option [nzLabel]="'全部'" [nzValue]="''"></nz-option>
              <nz-option [nzLabel]="'退单单号'" [nzValue]="'afterNo'"></nz-option>
              <nz-option [nzLabel]="'用户手机号'" [nzValue]="'phone'"></nz-option>
              <nz-option [nzLabel]="'订单号'" [nzValue]="'ordno'"></nz-option>
            </nz-select>
          </span>
        <div class="search-main">
          <nz-input *ngIf="query.searchType == 'ordno'" name="brandName" [(ngModel)]="query.ordno"
                    [nzPlaceHolder]="'订单编号'"
                    [nzSize]="'large'"></nz-input>
          <nz-input *ngIf="query.searchType == 'afterNo'" name="brandName" [(ngModel)]="query.ordno"
                    [nzPlaceHolder]="'退单单号'"
                    [nzSize]="'large'"></nz-input>
          <nz-input *ngIf="query.searchType == 'phone'" name="brandName" [(ngModel)]="query.ordno"
                    [nzPlaceHolder]="'用户手机号'"
                    [nzSize]="'large'"></nz-input>
        </div>
      </div>
      <button nz-button [nzSize]="'large'" class="ml btn-thc" (click)="queryGoodsList()">
        <i class="anticon anticon-search"></i>
      </button>
    </form>
  </div>
  <!--搜索 end-->
</div>
<nz-table #nzTable
          [nzAjaxData]="refundOrderPage.voList"
          [nzLoading]="_loading"
          [nzTotal]="refundOrderPage.totalRow"
          [(nzPageIndex)]="refundOrderPage.curPage"
          (nzPageIndexChange)="queryOrdList()"
          [(nzPageSize)]="refundOrderPage.pageSize">
  <thead nz-thead>
  <tr>
    <th nz-th [nzExpand]="true"></th>
    <th nz-th class="text-center"><span>退单单号</span></th>
    <th nz-th class="text-center"><span>退款金额（元）</span></th>
    <th nz-th class="text-center"><span>申请人（买家）</span></th>
    <th nz-th class="text-center"><span>申请时间</span></th>
    <th nz-th class="text-center"><span>处理状态</span></th>
    <th nz-th class="text-center"><span>管理操作</span></th>
  </tr>
  </thead>
  <tbody nz-tbody>
  <tr nz-tbody-tr *ngFor="let item of nzTable.data;let i=index;">
    <td nz-td class="text-center">{{item.afterNo}}</td>
    <td nz-td class="text-center">{{item.reqMoney | number:'1.2-2'}}</td>
    <td nz-td class="text-center">{{item.custPhone}}</td>
    <td nz-td class="text-center">{{item.createTime}}</td>
    <td nz-td class="text-center">{{item.state | stateName:'1602'}}</td>
    <td nz-td class="text-center"></td>
  </tr>
  </tbody>
</nz-table>


