<div class="order-detail b  ">
  <div class="detail w20 fl">
    <div class="order-head bb">
      <span class="main-color pl"><i class="anticon anticon-file-text"></i></span>
      <span class="main-color font14 pl">订单信息</span>
    </div>
    <div class="order-main">
      <dl>
        <dt class="fl pl-30">买家留言：</dt>
        <dd class="qpsP">哈哈哈</dd>
      </dl>
      <dl>
        <dt class="fl pl-30">支付方式：</dt>
        <dd>银行汇款</dd>
      </dl>
      <dl>
        <dt class="fl pl-54">运费：</dt>
        <dd><span>￥ 12.00</span></dd>
      </dl>
      <dl>
        <dt class="fl pl-30">应付总额：</dt>
        <dd><span>￥ 12.00</span></dd>
      </dl>
      <dl>
        <dt class="fl pl-30">订单编号：</dt>
        <dd>1345445481024562.063652</dd>
      </dl>
    </div>
  </div>
  <div class="detail w20 bl fl">
    <div class="order-head bb">
      <span class="main-color pl"><i class="anticon anticon-user"></i></span>
      <span class="main-color font14 pl">收货信息</span>
    </div>
    <div class="order-main">
      <dl>
        <dt class="fl pl-30">收货人：</dt>
        <dd class="qpsP">高辉</dd>
      </dl>
      <dl class="line">
        <dt class="fl pl-30">联系电话：</dt>
        <dd> 15901019392</dd>
      </dl>
      <dl>
        <dt class="fl pl-54">收货地址：</dt>
        <dd><span>河北省秦皇岛市山海关区西关街道办事处荣邦城</span></dd>
      </dl>
    </div>
  </div>
  <div class="detail w60 bl fl">
    <div class="order-head bb">
      <span class="main-color pl"><i class="anticon anticon-car"></i></span>
      <span class="main-color font14 pl">包裹信息</span>
    </div>
    <div class="order-main">
      <dl>
        <dt class="fl pl-30">买家留言：</dt>
        <dd class="qpsP">哈哈哈</dd>
      </dl>
      <dl class="line">
        <dt class="fl pl-30">支付方式：</dt>
        <dd>银行汇款</dd>
      </dl>
      <dl>
        <dt class="fl pl-54">运费：</dt>
        <dd><span>￥ 12.00</span></dd>
      </dl>
      <dl>
        <dt class="fl pl-30">应付总额：</dt>
        <dd><span>￥ 12.00</span></dd>
      </dl>
      <dl class="line">
        <dt class="fl pl-30">订单编号：</dt>
        <dd>1345445481024562.063652</dd>
      </dl>
    </div>
  </div>
</div>
