<!--顶部信息 start-->
<div class="mb page-title">
  <h3 class="fl pl-20">订单详情</h3>
  <button nz-button [nzType]="'danger'" [nzShape]="'circle'" class="page-back" (click)="backOrderList()" title="返回">
    <i class="anticon anticon-rollback font20"></i>
  </button>
</div>
<!--顶部信息 end-->

<!--订单基本信息 start-->
<div class="order-detail b">
  <div class="detail w20 fl">
    <div class="order-head bb bg-f8">
      <span class="main-color pl"><i class="anticon anticon-file-text"></i></span>
      <span class="main-color font14 pl">订单信息</span>
    </div>
    <div class="order-main">
      <dl *ngIf="orderData.note">
        <dt>买家留言：</dt>
        <dd>{{orderData.note}}</dd>
      </dl>
      <dl>
        <dt>支付方式：</dt>
        <dd>{{orderData.payWay | stateName : enum.orderPayState}}</dd>
      </dl>
      <dl>
        <dt>运费：</dt>
        <dd><span>&nbsp;&yen; {{orderData.freightPrice | number:'1.2-2'}}</span></dd>
      </dl>
      <dl>
        <dt>应付总额：</dt>
        <dd><span>&nbsp;&yen; {{orderData.pay | number:'1.2-2'}}</span></dd>
      </dl>
      <dl>
        <dt>订单编号：</dt>
        <dd>{{orderData.ordno}}</dd>
      </dl>
    </div>
  </div>
  <div class="detail w20 bl fl">
    <div class="order-head bb bg-f8">
      <span class="main-color pl"><i class="anticon anticon-user"></i></span>
      <span class="main-color font14 pl">收货信息</span>
    </div>
    <div class="order-main">
      <dl>
        <dt>收货人：</dt>
        <dd>{{orderData.linkman}}</dd>
      </dl>
      <dl class="line">
        <dt>联系电话：</dt>
        <dd>{{orderData.phone}}</dd>
      </dl>
      <dl>
        <dt>收货地址：</dt>
        <dd><span>{{orderData.areaFullName }}{{orderData.address}}</span></dd>
      </dl>
    </div>
  </div>
  <div class="detail w60 bl fl">
    <div class="order-head bb bg-f8">
      <span class="main-color pl"><i class="anticon anticon-car"></i></span>
      <span class="main-color font14 pl">包裹信息</span>
    </div>

    <div class="p" *ngIf="orderData.state!= state">
     <!-- <nz-timeline>
        <nz-timeline-item [nzColor]="'red'">Create a services site 2015-09-01</nz-timeline-item>
        <nz-timeline-item [nzColor]="'red'">Solve initial network problems 2015-09-01</nz-timeline-item>
        <nz-timeline-item [nzColor]="'red'">Technical testing 2015-09-01</nz-timeline-item>
        <nz-timeline-item [nzColor]="'red'">Network problems being solved 2015-09-01</nz-timeline-item>
      </nz-timeline>-->
    </div>
  </div>
</div>
<!--订单基本信息 end-->

<!--其他状态 start-->
<div class="order-state">
  <div class="order-state-steps">
    <nz-steps  [(nzCurrent)]="current" class="lg thc">
      <nz-step [nzTitle]="'待付款'"></nz-step>
      <nz-step [nzTitle]="'待发货'"></nz-step>
      <nz-step [nzTitle]="'已发货'"></nz-step>
      <nz-step [nzTitle]="'已完成'"></nz-step>
      <nz-step [nzTitle]="'已取消'"></nz-step>
    </nz-steps>
  </div>
</div>
<!--其他状态 end-->

<!--订单信息 start-->
<div class="order-information">
  <table class="w100 b">
    <thead class="order-information-head w100">
      <tr>
        <th class="w45 text-center">商品</th>
        <th class="w20 text-center">单价</th>
        <th class="w15 text-center">数量</th>
        <th class="w20 text-center">订单金额</th>
     </tr>
    </thead>
  </table>
</div>
<!--订单信息 end-->

