<!--查询 start-->
<div class="mb-15">
  <div class="bg-white p-15">
    <div class="inline-block">
      <div class="pending-group ml-20 mb fl">
        <span class="pending-title text-center">代理商账号：</span>
        <div class="pending-main fr">
          <nz-input [(ngModel)]="orderquery.agentAcct"  [nzPlaceHolder]="'请填写代理商账号'" [nzSize]="'large'"></nz-input>
        </div>
      </div>
      <div class="pending-group ml-20 mb fl">
        <span class="pending-title text-center">订单号：</span>
        <div class="pending-main fr">
          <nz-input [(ngModel)]="orderquery.agentOrdno"  [nzPlaceHolder]="'请填写订单号'" [nzSize]="'large'"></nz-input>
        </div>
      </div>
      <button nz-button [nzSize]="'large'" class="ml-15 btn-danger fl" (click)="queryAgentOrdAdmin()">
        <i class="anticon anticon-search"></i>
      </button>
    </div>
  </div>
</div>
<!--查询 end-->

<!--table列表 start-->
<nz-table #nzTable
          [nzAjaxData]="orderList.voList"
          [nzLoading]="_loading"
          [nzTotal]="orderList.totalRow"
          [(nzPageIndex)]="orderList.curPage"
          (nzPageIndexChange)="queryAgentOrdAdmin()"
          [(nzPageSize)]="orderList.pageSize"
          class="table-even-bg">
  <thead nz-thead>
  <tr>
    <th class="text-center relative w40" nz-th>
      <span>商品</span>
    </th>
    <th class="text-center" nz-th>
      <span>单价</span>
    </th>
    <th class="text-center" nz-th>
      <span>数量</span>
    </th>
    <th class="text-center" nz-th>
      <span>收货人</span>
    </th>
    <th class="text-center" nz-th>
      <span>订单金额（元）</span>
    </th>
    <th class="text-center" nz-th>
      <span>交易状态</span>
    </th>
    <th class="text-center" nz-th>
      <span>交易操作</span>
    </th>
  </tr>
  </thead>
  <tbody nz-tbody>
  <tr nz-tbody-tr *ngFor="let orders of nzTable.data;let i = index">
    <td nz-td>
      订单编号：{{orders.ordno}}
    </td>
    <td nz-td>
      下单时间：{{orders.createTime}}
    </td>
    <td nz-td>
      {{orders.ordno}}
    </td>
    <td nz-td>
      {{orders.ordno}}
    </td>
    <td nz-td>
      {{orders.ordno}}
    </td>
    <td nz-td>
      {{orders.ordno}}
    </td>
    <td nz-td>
      {{orders.ordno}}
    </td>
  </tr>
  </tbody>
</nz-table>
<!--table列表 end-->

