<div class="hawthorn-home p">
  <!--商铺信息 start-->
  <div class="store-info">
    <ul>
      <li class="fl">
        <img height="60" [src]="storeAvatar">
      </li>
      <li class="fl ml">
        <p class="font18 strong">{{storeName}}</p>
        <p class="mt-5 font12">
          <span><i class="anticon anticon-check-circle color-success"></i> 企业认证</span>
          <span class="ml-5">
            <i class="anticon anticon-check-circle color-success"></i> 店铺认证
          </span>
        </p>
      </li>
      <li class="fr mt-20">
        <button nz-button [nzType]="'default'" [nzSize]="'large'" [routerLink]="companyUrl">
          <span>企业信息</span>
        </button>
      </li>
      <li class="fr mt-20 mr" *ngIf="shopsUrlShow">
        <button nz-button [nzType]="'default'" [nzSize]="'large'" class="thc-btn-w" [routerLink]="shopsUrl">
          <span>店铺信息</span>
        </button>
      </li>
    </ul>
    <div class="clear"></div>
  </div>
  <!--商铺信息 end-->
  <!--统计信息 start-->
  <div class="store-count mt-20 bg-f8 pt-20 pb-20" nz-row>
    <ng-container *ngFor="let count of storeCount;index as i;">
      <div nz-col [nzSpan]="4" [ngClass]="{'border-right':i != (storeCount.length-1)}" *ngIf="count.isShow"
           class="text-center">
        <p class="font22 main-color">{{count.num}}</p>
        <p>{{count.info}}</p>
      </div>
    </ng-container>
  </div>
  <!--统计信息 end-->
  <!--常用功能 start-->
  <div class="common-functions mt-20" nz-row>
    <p class="font16 strong mb title">常用功能</p>
    <ng-container *ngFor="let cf of commonFunctions">
      <div nz-col [nzSpan]="4" class="bg-f8 pl-20 font16 cursor" [routerLink]="cf.url" *ngIf="cf.isShow">
        <i class="{{cf.icon}} font20 mr"></i>{{cf.info}}
      </div>
    </ng-container>
  </div>
  <!--常用功能 end-->
  <!--订单流量统计 start-->
  <div class="order-count mt-20">
    <p class="font16 strong mb title">订单流量统计（近七天）</p>
    <!--图表绘制 start-->
    <div echarts [options]="chartOption" class="order-chart"></div>
    <!--图表绘制 end-->
  </div>
  <!--订单流量统计 end-->
  <!--联系我们 start-->
  <div class="contact-us mt-20" nz-row>
    <p class="font16 strong mb title">联系我们</p>
    <div nz-col [nzSpan]="6" class="pt-20 pb-20 pl-20 font16 cursor" *ngFor="let cUs of contactUs">
      <i class="{{cUs.icon}} font24 mr"></i>{{cUs.info}}
    </div>
  </div>
  <!--联系我们 end-->
</div>
