<button nz-button [nzType]="'danger'" [nzShape]="'circle'" class="page-back" (click)="back()" title="返回">
  <i class="anticon anticon-rollback font20"></i>
</button>
<nz-layout class="forget-layout">
  <nz-content>
    <div class="forget-center">
      <!--企业logo start-->
      <div class="forget-logo pt-30">
        <img [src]="app.logoDark">
      </div>
      <!--企业logo end-->
      <!--步骤条start-->
      <div class="forget-step">
        <nz-steps [(nzCurrent)]="current" class="lg thc">
          <nz-step [nzTitle]="'重置密码'"></nz-step>
          <nz-step [nzTitle]="'新密码'"></nz-step>
          <nz-step [nzTitle]="'完成'"></nz-step>
        </nz-steps>
      </div>
      <!--步骤条end-->
      <section class="forget-content">

        <!--路由嵌套-业务处理区域 start-->
        <router-outlet></router-outlet>
        <!--路由嵌套-业务处理区域 end-->

      </section>

    </div>
  </nz-content>
  <nz-footer class="forget-footer">{{app.copyright}}</nz-footer>
</nz-layout>


