<nz-layout class="forget-layout">
  <nz-content>
    <div class="forget-center">
      <!--企业logo start-->
      <div class="forget-logo pt-30">
        <img [src]="app.logoDark">
      </div>
      <!--企业logo end-->
      <!--步骤条start-->
      <div class="forget-step">
        <nz-steps [(nzCurrent)]="current" class="lg thc">
          <nz-step [nzTitle]="'验证'"></nz-step>
          <nz-step [nzTitle]="'新密码'"></nz-step>
          <nz-step [nzTitle]="'完成'"></nz-step>
        </nz-steps>
      </div>
      <!--步骤条end-->
      <section class="forget-content">

        <!--路由嵌套-业务处理区域 start-->
        <router-outlet></router-outlet>
        <!--路由嵌套-业务处理区域 end-->

        <!--操作按钮 start-->
        <!--<div nz-row class="text-center p-20 bt">-->
        <!--<button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="pre()" *ngIf="current > 0">-->
        <!--<span>上一步</span>-->
        <!--</button>-->
        <!--<button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="next()" *ngIf="current < 2">-->
        <!--<span>下一步</span>-->
        <!--</button>-->
        <!--<button nz-button [nzType]="'primary'" [nzSize]="'large'"*ngIf="current === 2">-->
        <!--<span routerLink="/page/login">去登录</span>-->
        <!--</button>-->
        <!--</div>-->
        <!--操作按钮 end-->
      </section>

    </div>
  </nz-content>
  <nz-footer class="forget-footer">{{app.copyright}}</nz-footer>
</nz-layout>


