.forget-layout .forget-logo {
  text-align: center;
}

.forget-layout .forget-center {
  width: 50%;
  height: 435px;
  background: #fff;
  margin: 170px auto;
}

.forget-layout .forget-footer {
  text-align: center;
}

.forget-layout .forget-step {
  padding: 30px;
}

.forget-content {
  width: 90%;
  margin: auto;
}

