<div *ngIf="showOrderList">
  <!--查询 start-->
  <div class="mb-15">
    <div class="bg-white p-15">
      <div class="inline-block">
        <div class="pending-group ml-20 mb fl">
          <span class="pending-title text-center">收货人手机号：</span>
          <div class="pending-main fr">
            <nz-input [(ngModel)]="orderquery.phone" [nzPlaceHolder]="'请填写收货人手机号'" [nzSize]="'large'"></nz-input>
          </div>
        </div>
        <div class="pending-group mb fl">
          <span class="pending-title text-center">&nbsp;&nbsp;&nbsp;订单号：</span>
          <div class="pending-main fr">
            <nz-input [(ngModel)]="orderquery.agentOrdno" [nzPlaceHolder]="'请填写订单号'" [nzSize]="'large'"></nz-input>
          </div>
        </div>
        <button nz-button [nzSize]="'large'" class="ml-20 btn-thc mr" (click)="queryPayment()">
          <i class="anticon anticon-search"></i><span>搜索</span>
        </button>
        <button nz-button [nzType]="'primary'" class="btn-thc" title="重置" [nzSize]="'large'" (click)="resetQuery()">
          <i class="anticon anticon-sync"></i><span>重置</span>
        </button>
      </div>
    </div>
    <!--查询 end-->

    <!--table表头 start -->
    <table class="w100">
      <thead class="table-head">
      <ul >
        <li class="w40 fl text-center">商品</li>
        <li class="w10 fl text-center">单价</li>
        <li class="w10 fl text-center">数量</li>
        <li class="w10 fl text-center">收货人手机号</li>
        <li class="w10 fl text-center">收货人</li>
        <li class="w10 fl text-center">订单金额（元）</li>
        <li class="w10 fl text-center">交易状态</li>
      </ul>
      </thead>
    </table>
    <!--table表头 end -->

    <!--table列表 start-->
    <nz-table #nzTable
              [nzAjaxData]="orderList.voList"
              [nzLoading]="_loading"
              [nzTotal]="orderList.totalRow"
              [(nzPageIndex)]="orderList.curPage"
              (nzPageIndexChange)="queryComplete()"
              [(nzPageSize)]="orderList.pageSize"
              class="table-even-bg">
      <tbody>
      <tr class="b" *ngFor="let orders of nzTable.data;let i = index">
        <td class="w100">
          <div class="order-space"></div>
          <div class="tbody-tr-head">
            <span class="fl pl-20">订单编号：{{orders.ordno}}</span>
            <span class="fl pl-20">下单时间：{{orders.createTime}}</span>
          </div>
          <table class="w100 b">
            <tr *ngFor="let name of orders.ordItemList;let j = index">
              <td class="relative w40 p">
                <div class="inline-block fl goodsImage">
                  <ng-container>
                    <div class="tag-dib imgbox text-center mr">
                      <nz-popover [nzTrigger]="'click'">
                        <img [src]="name.goodsImage | imgSize :'80'" appImgErr title="点击查看大图" nz-popover>
                        <ng-template #nzTemplate>
                          <img [src]="name.goodsImage | imgSize :'200'" appImgErr>
                        </ng-template>
                      </nz-popover>
                    </div>
                  </ng-container>
                </div>
                <div class="pl">
                  <p>
                    <a class="font14" href="javascript:;">{{name.goodsName}}</a>
                  </p>
                  <p class="pt-20">
                  <span *ngFor="let attr of name.goodsSavSet | strJson">
                      <span class="inline">{{attr.attrName}}：</span>
                      <span class="inline">{{attr.value}}</span>
                   </span>
                  </p>
                </div>
              </td>
              <td class="w10 text-center bl">&yen; {{name.price| number:'1.2-2'}}</td>
              <td class="w10 text-center bl">{{name.num}}</td>
              <td class="w10 text-center bl" *ngIf="j==0" [attr.rowspan]="orders.ordItemList.length">{{orders.phone}}</td>
              <td class="w10 text-center bl" *ngIf="j==0" [attr.rowspan]="orders.ordItemList.length">
                {{orders.linkman}}
              </td>
              <td class="w10 text-center bl" *ngIf="j==0" [attr.rowspan]="orders.ordItemList.length">
                <span class="main-color">&yen; {{orders.ordTotal | number:'1.2-2'}}</span><br>
                <span class="font12 gray-color">运费{{orders.freight  | number:'1.2-2'}}</span><br>
                <span class="font12 gray-color">{{orders.payWay | stateName : enum.orderPayState}}</span>
              </td>
              <td class="w10 text-center bl" *ngIf="j==0" [attr.rowspan]="orders.ordItemList.length">
                <p class="gray-color">{{orders.state | stateName : enum.orderState}}</p>
                <p class="cursor" [routerLink]="orderDetail" [queryParams]="{ordno:orders.ordno}"><a class="underline">查看详情</a></p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      </tbody>
    </nz-table>
    <!--table列表 end-->
  </div>
</div>

<!--路由嵌套 begin-->
<router-outlet (activate)="isactivate($event)" (deactivate)='isDeactivate($event)'></router-outlet>
<!--路由嵌套 end-->
