.change-password .change-center {
  width: 50%;
  height: 526px;
  background: #fff;
  margin: 150px auto;
}
.headings h1 {
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: #e82d4d;
}
.change-password-footer{
  margin-top: 80px;
  padding-top: 20px;
}

