<nz-layout class="change-password">
  <nz-content>
    <div class="change-center">
      <!--企业logo start-->
      <div class="pt-30 pl-20">
        <img [src]="app.logoDark">
      </div>
      <!--企业logo end-->
      <!--修改密码表单 start-->
      <div class="headings"><h1>修改密码</h1></div>
      <div class="text-center">
        <form nz-form [formGroup]="validateForm">
          <div nz-form-item nz-row>
            <div nz-col [nzSpan]="7" nz-form-label>
              <label class="new-information" nz-form-item-required>旧密码</label>
            </div>
            <div>
              <div nz-col [nzSpan]="10" nz-form-control [nzValidateStatus]="getFormControl('oldPassword')" nzHasFeedback>
                <nz-input formControlName="oldPassword" [nzPlaceHolder]="'请输入您的密码'" [nzType]="'password'" [nzSize]="'large'"
                          (ngModelChange)="loginService.validateConfirmPassword()">
                </nz-input>
                <div nz-form-explain
                     *ngIf="getFormControl('oldPassword').dirty&&getFormControl('oldPassword').hasError('required')">请输入您的密码！
                </div>
                <div nz-form-explain
                     *ngIf="getFormControl('oldPassword').dirty&&getFormControl('oldPassword').hasError(progressCheck.isPwd)">
                  请输入6到16位含数字、字母组成的密码！
                </div>
              </div>
            </div>
          </div>
          <div nz-form-item nz-row>
            <div nz-col [nzSpan]="7" nz-form-label>
              <label class="new-information" nz-form-item-required>密码</label>
            </div>
            <div>
              <div nz-col [nzSpan]="10" nz-form-control [nzValidateStatus]="getFormControl('password')" nzHasFeedback>
                <nz-input formControlName="password" [nzPlaceHolder]="'请输入6-16位密码'" [nzType]="'password'" [nzSize]="'large'"
                          (ngModelChange)="loginService.validateConfirmPassword2()">
                </nz-input>
                <div nz-form-explain
                     *ngIf="getFormControl('password').dirty&&getFormControl('password').hasError('required')">请输入您的密码！
                </div>
                <div nz-form-explain
                     *ngIf="getFormControl('password').dirty&&getFormControl('password').hasError(progressCheck.isPwd)">
                  请输入6到16位含数字、字母组成的密码！
                </div>
              </div>
            </div>
          </div>
          <div nz-form-item nz-row>
            <div nz-col [nzSpan]="7" nz-form-label>
              <label class="new-information" nz-form-item-required>确认密码</label>
            </div>
            <div nz-col [nzSpan]="10" nz-form-control [nzValidateStatus]="getFormControl('confirmPwd')"
                 nzHasFeedback>
              <nz-input formControlName="confirmPwd" [nzType]="'password'" [nzPlaceHolder]="'请再次输入您的密码'"
                        [nzSize]="'large'">
              </nz-input>
              <div nz-form-explain
                   *ngIf="getFormControl('confirmPwd').dirty&&getFormControl('confirmPwd').hasError('required')">
                请再次输入您的密码!
              </div>
              <div nz-form-explain
                   *ngIf="getFormControl('confirmPwd').dirty&&getFormControl('confirmPwd').hasError('confirm')">
                两次密码输入不一致!
              </div>
            </div>
          </div>

          <div nz-row class="change-password-footer text-center bt">
            <button nz-button [nzType]="'default'" [nzSize]="'large'" class="thc-btn-w" [routerLink]="storeHome">
              <span>取消</span>
            </button>
            <button nz-button [nzType]="'default'" [nzSize]="'large'" class="thc-btn-w" (click)="submitForm($event,validateForm.value)">
              <span>提交</span>
            </button>
          </div>
        </form>
      </div>
      <!--修改密码表单 end-->
    </div>
  </nz-content>
  <nz-footer class="text-center">{{app.copyright}}</nz-footer>
</nz-layout>




