<nz-layout class="layout">
  <!--menu 信息 start-->
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="sider">
      <div class="logo cursor" [routerLink]="home">
        <img *ngIf="!isCollapsed" src="{{app.logo}}">
      </div>
      <ul nz-menu [nzTheme]="'dark'" [nzMode]="isCollapsed?'vertical':'inline'">
        <!--循环显示menu start-->
        <ng-container *ngFor="let menu of menus">
          <!--有下级menu start-->
          <li nz-submenu *ngIf="menu.subMenuList && menu.subMenuList.length>0">
          <span title>
            <i class="anticon anticon-{{menu.menuIcon}} font18"></i>
            <span class="nav-text">{{menu.menuName}}</span>
          </span>
            <ul>
              <li nz-menu-item *ngFor="let child of menu.subMenuList" (click)="goUrl(child.menuUrl)">
                {{child.menuName}}
              </li>
            </ul>
          </li>
          <!--有下级menu end-->
          <!--无下级menu start-->
          <li nz-menu-item *ngIf="!menu.subMenuList || menu.subMenuList.length<1" (click)="goUrl(menu.menuUrl)">
          <span>
            <i class="anticon anticon-{{menu.menuIcon}} font18"></i>
            <span class="nav-text">{{menu.menuName}}</span>
          </span>
          </li>
          <!--无下级menu end-->
        </ng-container>
        <!--循环显示menu end-->
      </ul>
    </div>
  </nz-sider>
  <!--menu 信息 end-->
  <nz-layout>
    <!--顶部信息 start-->
    <nz-header class="p0 bg-white">
      <i class="anticon trigger" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed"
         (click)="isCollapsed=!isCollapsed"></i>
      <ul class="fr mr">
        <li><i class="anticon anticon-home" [routerLink]="home" title="去首页"></i></li>
        <nz-dropdown [nzTrigger]="'click'">
          <li nz-dropdown>
            <nz-badge [nzCount]="msgNum">
              <ng-template #content>
                <i class="anticon anticon-bell" title="消息通知"></i>
              </ng-template>
            </nz-badge>
          </li>
          <ul nz-menu>
            <ng-container *ngFor="let news of msg">
              <li nz-menu-item *ngIf="news.num > 0 && news.isShow" [routerLink]="news.url">
                <i class="{{news.icon}} mr-5"></i> {{news.info}}
                （<span class="main-color">{{news.num}}</span>）
              </li>
            </ng-container>
          </ul>
        </nz-dropdown>
        <li [routerLink]="changePassword"><i class="anticon anticon-edit" title="修改密码"></i></li>
        <li (click)="logout()"><i class="anticon anticon-logout" title="退出登录"></i></li>
      </ul>
    </nz-header>
    <!--顶部信息 end-->
    <!--业务中心 start-->
    <nz-content class="m-15 bg-white">
      <div class="p">
        <!--路由嵌套-业务处理区域 start-->
        <router-outlet></router-outlet>
        <!--路由嵌套-业务处理区域 end-->
      </div>
    </nz-content>
    <!--业务中心 end-->
    <!--底部信息 start-->
    <nz-footer class="footer">{{app.copyright}}</nz-footer>
    <!--底部信息 end-->
  </nz-layout>
</nz-layout>
