<div>
  <div class="mb page-title">
    <h3 class="fl">{{pageTitle}}</h3>
    <button *ngIf="showList" class="fr m btn-thc" nz-button [routerLink]="addBrand">
      <span>添加品牌</span>
    </button>
  </div>

  <!--页面提示信息 start-->
  <div class="page-msg-red">
    <p class="title">{{pageMsg.tipTitle}}</p>
    <ul>
      <li *ngFor="let msg of pageMsg.goods.brands">{{msg}}</li>
    </ul>
  </div>
  <!--页面提示信息 end-->

  <ng-container *ngIf="showList">
    <!--搜索 start-->
    <form nz-form class="bg-white p-15">
      <div class="inline-block align-top">
        <div class="search-group ml-20 mb align-top">
          <span class="search-title">品牌：</span>
          <div class="search-main">
            <nz-input name="brandName" [(ngModel)]="query.brandName" [nzPlaceHolder]="'品牌名称'"
                      [nzSize]="'large'"></nz-input>
          </div>
        </div>
        <button nz-button [nzSize]="'large'" class="ml-20 btn-thc" (click)="queryBrandsList(1)" title="查询">
          <i class="anticon anticon-search"></i> 查询
        </button>
        <button nz-button [nzSize]="'large'" class="ml btn-thc" (click)="resetQuery()" title="重置查询条件">
          <i class="anticon anticon-sync"></i> 重置
        </button>
      </div>
    </form>
    <!--搜索 end-->

    <nz-table #nzTable [nzAjaxData]="brandsList.voList"
              [nzLoading]="_loading"
              [nzTotal]="brandsList.totalRow"
              [(nzPageIndex)]="brandsList.curPage"
              (nzPageIndexChange)="queryBrandsList()"
              [(nzPageSize)]="brandsList.pageSize">
      <thead nz-thead>
      <tr>
        <th nz-th class="text-center">
          <span>序号</span>
        </th>
        <th nz-th class="text-center">
          <span>品牌名称</span>
        </th>
        <th nz-th class="text-center">
          <span>英文名称</span>
        </th>
        <th nz-th class="text-center">
          <span>品牌所有人</span>
        </th>
        <th nz-th class="text-center">
          <span>品牌图片</span>
        </th>
        <th nz-th class="text-center">
          <span>品牌注册证</span>
        </th>
        <th nz-th class="text-center">
          <span>操作</span>
        </th>
      </tr>
      </thead>
      <tbody nz-tbody>
      <tr nz-tbody-tr *ngFor="let brand of nzTable.data;let i = index" class="text-center">
        <td nz-td>{{i+1}}</td>
        <td nz-td>{{brand.brandName}}</td>
        <td nz-td>{{brand.englishName}}</td>
        <td nz-td>{{brand.brandHolder}}</td>
        <td nz-td>
          <nz-popover [nzTrigger]="'click'">
            <img [src]="brand.brandPic | imgSize:'60'" appImgErr title="点击看大图" nz-popover>
            <ng-template #nzTemplate>
              <div><img [src]="brand.brandPic | imgSize:'200'" [alt]="brand.brandName"></div>
            </ng-template>
          </nz-popover>
        </td>
        <td nz-td>
          <nz-popover [nzTrigger]="'click'">
            <img [src]="brand.brandPic | imgSize:'60'" appImgErr title="点击看大图" nz-popover>
            <ng-template #nzTemplate>
              <div><img [src]="brand.brandPic | imgSize:'200'" [alt]="brand.brandName"></div>
            </ng-template>
          </nz-popover>
        </td>
        <td nz-td>
          <ng-container *ngIf="brand.brandApply == enumStates.brandApplyState.unpass">
            <button nz-button class="btn-blue" title="修改" [routerLink]="editBrand"
                    [queryParams]="{brandId:brand.id}">
              <i class="anticon anticon-edit"></i>
            </button>
          </ng-container>
          <button nz-button class="btn-green" title="查看详情" [routerLink]="brandDetail"
                  [queryParams]="{applyCode:brand.applyCode}">
            <i class="anticon anticon-eye-o"></i>
          </button>
          <nz-popconfirm [nzTitle]="'确定要删除这个品牌吗？'" (nzOnConfirm)="confirm(brand.applyCode)" (nzOnCancel)="cancel()" [nzPlacement]="'top'">
            <button nz-popconfirm nz-button class="btn-warning"><i class="anticon anticon-delete"></i></button>
          </nz-popconfirm>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </ng-container>
</div>

<!--路由嵌套 begin-->
<router-outlet (activate)="activate($event)" (deactivate)="onDeactivate($event)"></router-outlet>
<!--路由嵌套 end-->


