.goods-sku-info {
  position: absolute;
  left: 80px;
  top: 15px;
  right: 10px;
  bottom: 15px;
}

.goods-name {
  line-height: 1.36;
  display: block;
  overflow: hidden;
}

.relative {
  position: relative;
}

.inline{
  display: inline;
}
