<div class="page-msg-red">
vdfkjvdfkovnm
</div>
<!--<nz-alert [nzType]="'error'" [nzMessage]="'操作提示：'"
          [nzDescription]="'如果商品选择使用了配送规则，则该商品只售卖配送规则中指定的地区，运费为指定地区的运费，正在被商品使用的配送规则不允许删除'">
</nz-alert>-->
<div>
  <nz-table #nzTable
            [nzAjaxData]="tplList"
            [nzLoading]="_loading"
            (nzPageIndexChange)="queryTplList()"
            [nzIsPagination]="false"
            class="table-even-bg w100">

    <tbody nz-tbody>
    <tr nz-tbody-tr *ngFor="let organ of nzTable.data;let i = index">
      <td nz-td>
        <div class="table-thead-header">{{organ.tplName}}</div>
        <table>
          <thead class="table-thead-header">
          <tr>
            <th class="w45 main-color" >
              运送到
            </th>
            <th class="w15 text-center main-color">
              创建时间
            </th>
            <th class="w10 text-center main-color" *ngIf="organ.valuationType == 'NUM'">
              首件(件)
            </th>
            <th  class="w10 text-center main-color" *ngIf="organ.valuationType == 'WEIGHT'">
              首重(Kg)
            </th>
            <th  class="w10 text-center main-color" *ngIf="organ.valuationType == 'VOLUME'">
              首体积(m³)
            </th>
            <th class="w10 text-center main-color" >
              运费(元)
            </th>
            <th class="w10 text-center main-color" *ngIf="organ.valuationType == 'NUM'">
              续件(件)
            </th>
            <th class="w10 text-center main-color" *ngIf="organ.valuationType == 'WEIGHT'">
              续重(Kg)
            </th>
            <th class="w10 text-center main-color"  *ngIf="organ.valuationType == 'VOLUME'">
              续体积(m³)
            </th>
            <th  class="w10 text-center main-color">
              运费(元)
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let storeExpressTplValList of organ.storeExpressTplValList;let i = index">
            <td>
              <div class="table-hides">{{storeExpressTplValList.area | level2AreaName}}</div>
            </td>
            <td class="text-center">{{storeExpressTplValList.createTime}}</td>
            <td class="text-center">{{storeExpressTplValList.firstNum}}</td>
            <td class="text-center">{{storeExpressTplValList.firstPrice}}</td>
            <td class="text-center">{{storeExpressTplValList.addAttach}}</td>
            <td class="text-center">{{storeExpressTplValList.addPrice}}</td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
  </nz-table>
</div>
