/******************当前使用的ng-zorro框架中，内置皮肤与当前项目不符，此处重新定义皮肤 *********************************/
/*主题色步骤条，父级需要有类名"thc"(theme-color)，用法：<nz-steps class="thc...>*/
.thc .ant-steps .ant-steps-item.ant-steps-status-process .ant-steps-head-inner {
  border-color: #e82d4d;
  background-color: #e82d4d;
}

.thc .ant-steps .ant-steps-item.ant-steps-status-finish .ant-steps-head-inner > .ant-steps-icon {
  color: #e82d4d;
}

.thc .ant-steps .ant-steps-item.ant-steps-status-finish .ant-steps-head-inner {
  border-color: #e82d4d;
  background-color: #fff;
}

.thc .ant-steps .ant-steps-item.ant-steps-status-finish .ant-steps-tail > i:after {
  width: 100%;
  background: #e82d4d;
  transition: all .6s;
  opacity: 1;
  box-shadow: 0 0 0 0 #e82d4d;
  animation: tailEffect .4s;
}

/*主题色switch开关,用法：<nz-switch class="thc ...>*/
.thc .ant-switch-checked {
  background-color: #e82d4d;
}

/*空心红色按钮*/
.thc-btn-o.ant-btn {
  border-color: #d9d9d9;
  background-color: #ffffff;
  color: #999;
}

.thc-btn-o.ant-btn:hover, .thc-btn-o.ant-btn:focus {
  color: #e82d4d;
  background-color: #fff;
  border-color: #e82d4d;
}

/*主题色外发光按钮*/
.thc-btn-w.ant-btn {
  border-color: #e82d4d;
  background-color: #fff;
  color: #e82d4d;
}

.thc-btn-w.ant-btn:hover, .thc-btn-w.ant-btn:focus {
  color: #e82d4d;
  border-color: #e82d4d;
  box-shadow: 0 0 10px #a0a0a0;
}
/*实心主题色按钮 start*/
.thc-btn.ant-btn {
  border-color: #e82d4d;
  background-color: #e82d4d;
  color: #fff;
}

.thc-btn.ant-btn:hover, .thc-btn.ant-btn:focus, .thc-btn.ant-btn:active {
  color: white;
  background-color: #f04134;
  border-color: #e82d4d;
}
/*实心主题色按钮 end*/


