<!--企业注册 start-->
<div nz-row class="pt-20">
  <form nz-form [formGroup]="validateForm" class="p-20">

    <div nz-form-item nz-row>
      <div nz-form-label nz-col [nzSpan]="8">
        <label nz-form-item-required>手机号</label>
      </div>
      <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="getFormControl('phone')" nzHasFeedback>
        <nz-input formControlName="phone" [nzPlaceHolder]="'请填写手机号'" [nzType]="'email'" [nzSize]="'large'">
        </nz-input>
        <div nz-form-explain *ngIf="getFormControl('phone').dirty&&getFormControl('phone').hasError('required')">
          请输入手机号码！
        </div>
        <div nz-form-explain
             *ngIf="getFormControl('phone').dirty&&getFormControl('phone').hasError(valitate.isPhone)">手机号码不正确！
        </div>
        <div class="has-error"><p nz-form-explain *ngIf="!getFormControl('phone').dirty&&phoneState == 'error'">
          手机号码不正确！</p></div>
        <div class="has-error"><p nz-form-explain *ngIf="!getFormControl('phone').dirty&&phoneState == 'empty'">
          请输入手机号码！</p></div>
      </div>
    </div>

    <div nz-form-item nz-row>
      <div nz-form-label nz-col [nzSpan]="8">
        <label nz-form-item-required>验证码</label>
      </div>
      <div nz-form-control nz-col [nzSpan]="6" [nzValidateStatus]="getFormControl('code')" nzHasFeedback>
        <div nz-col [nzSpan]="24">
          <nz-input [nzSize]="'large'" formControlName="code" [nzId]="'code'"
                    [nzPlaceHolder]="'请填写验证码'"></nz-input>
        </div>
        <div nz-form-explain *ngIf="getFormControl('code').dirty&&getFormControl('code').hasError('required')">
          请输入短信验证码！
        </div>
        <div nz-form-explain *ngIf="getFormControl('code').dirty&&getFormControl('code').hasError(valitate.isSmsCode)">
          短信验证码错误！
        </div>
      </div>
      <div nz-col [nzSpan]="3" class="ml-15">
        <button nz-button [nzType]="'danger'" [nzSize]="'large'" class="btn-danger" (click)="getCaptcha()"
                [disabled]="isSending">{{msgText}}
        </button>
      </div>
    </div>

    <div nz-form-item nz-row>
      <div nz-col [nzSpan]="8" nz-form-label>
        <label nz-form-item-required>密码</label>
      </div>
      <div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="getFormControl('sellerPwd')" nzHasFeedback>
          <nz-input formControlName="sellerPwd" [nzPlaceHolder]="'请输入您的密码'" [nzType]="'password'" [nzSize]="'large'"
                    (ngModelChange)="validateConfirmPassword()">
          </nz-input>
          <div nz-form-explain
               *ngIf="getFormControl('sellerPwd').dirty&&getFormControl('sellerPwd').hasError('required')">请输入您的密码！
          </div>
          <div nz-form-explain
               *ngIf="getFormControl('sellerPwd').dirty&&getFormControl('sellerPwd').hasError(valitate.isPwd)">
            请输入6位以上含数字、字母组成的密码！
          </div>
        </div>
      </div>
    </div>

    <div nz-form-item nz-row>
      <div nz-col [nzSpan]="8" nz-form-label>
        <label nz-form-item-required>确认密码</label>
      </div>
      <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="getFormControl('rePwd')"
           nzHasFeedback>
        <nz-input formControlName="rePwd" [nzType]="'password'" [nzPlaceHolder]="'请再次输入您的密码'"
                  [nzSize]="'large'">
        </nz-input>
        <div nz-form-explain
             *ngIf="getFormControl('rePwd').dirty&&getFormControl('rePwd').hasError('required')">
          请再次输入您的密码!
        </div>
        <div nz-form-explain
             *ngIf="getFormControl('rePwd').dirty&&getFormControl('rePwd').hasError('confirm')">
          两次密码输入不一致!
        </div>
      </div>
    </div>

    <div nz-row class="text-center p-20 bt">
      <button nz-button [nzType]="'default'" [nzSize]="'large'" class="thc-btn-w"
              (click)="submitRegisterForm($event,validateForm.value)">
        <span>下一步</span>
      </button>
    </div>
  </form>

</div>

<!--企业注册 end-->
