<!--提交成功-->
<ng-container *ngIf="curState == 'pending'">
  <div class="success">
    <i class="anticon anticon-clock-circle-o color-green"></i>
    <p>您已成功提交申请，请等待平台审核通过</p>
  </div>
</ng-container>

<!--店铺审核通过-->
<ng-container *ngIf="curState == 'normal'">
  <div class="success">
    <i class="anticon anticon-check-circle-o color-green"></i>
    <p>您已成功开通店铺</p>
  </div>
  <div nz-row class="text-center p-20 bt">
    <button nz-button [nzSize]="'large'" class="btn-thc" [routerLink]="routerHome" [replaceUrl]="true">
      <span>完成</span>
    </button>
  </div>
</ng-container>

<!--审核驳回-->
<ng-container *ngIf="curState == 'reject'">
  <div class="success">
    <i class="anticon anticon-exclamation-circle-o color-orange"></i>
    <p>申请未通过，请修改后重新申请</p>
    <div class="w50 reject-info color-red">驳回原因：
      {{rejectOpinion}}
    </div>
  </div>
  <div nz-row class="text-center p-20 bt">
    <button nz-button [nzType]="'default'" [nzSize]="'large'" class="btn-blue" (click)="skipTo('openShop')">
      <span>修改信息</span>
    </button>
  </div>
</ng-container>

