.text-left {
  text-align: left
}

.text-center {
  text-align: center;
}

.eval-head {
  height: 40px;
  line-height: 40px;
}

.eval-user-img {
  width: 115px;
  height: 100px;
}

.eval-score {
  height: 39px;
  line-height: 39px;
}

.eval-border {
  border: 1px solid #f8f8f8;
}

.eval-bl {
  border-left: 1px solid #f8f8f8;
}

.eval-conment {
  text-align: left;
  padding-left: 10px;
}

.goods-img {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.good-img {
  display: inline-block;
  width: 50px;
  height: 50px;
}
