<div>
  <div class="font16 mb-20">
    <span>评价列表</span>
    <button nz-button [nzType]="'danger'" [nzShape]="'circle'" class="page-back" (click)="back()" title="返回">
      <i class="anticon anticon-rollback font20"></i>
    </button>
  </div>
  <div class="mb-15">
    评价商品：{{goodsName}}
  </div>
  <nz-table #nzTable [nzAjaxData]="evalPage.voList"
            [nzLoading]="_loading"
            [nzTotal]="evalPage.totalRow"
            [(nzPageIndex)]="evalPage.curPage"
            (nzPageIndexChange)="qeuryEvalData()"
            [(nzPageSize)]="evalPage.pageSize"
            class="table-even-bg">
    <tbody>
    <tr class="b" *ngFor="let data of nzTable.data;let i = index">
      <td class="w100">
        <div class="tbody-start br bl bt">
          <span class="fl pl-20">评分:
            <nz-rate [ngModel]="data.commentStar" nzAllowHalf [nzDisabled]="true" class="eval-score"></nz-rate>
            </span>
          <span class="fr pr-20">评价时间：{{data.createTime}}</span>
        </div>
        <table class="w100 b mb-20">
          <tr>
            <!--买家信息 --start -->
            <td class="w5 text-center" [attr.rowspan]="data.commentGoodsPicList.length">
              <span class="">
                <i class="icon icon-user font30"></i>
              </span><br>
              <span class="">{{data.custName}}</span>
            </td>
            <!--买家信息  --end  -->
            <td class="relative w40 p bl">
              <div class="fl pl pt">
                <!--评价内容 --start -->
                <p><span>订单编号：</span><span class="font14">{{data.ordno}}</span></p>
                <div>
                  <p><span class="font14">{{data.commentText}}</span></p>
                  <p><span class="font14" *ngFor="let eval of data.commentGoodsPicList;">

                   <nz-popover  [nzTrigger]="'click'">
                       <img [src]="eval.pic | imgSize:'50'"  title="点击出大图"
                            alt="" *ngIf="eval.isAfter=='N'"  nz-popover >
                        <ng-template #nzTemplate>
                          <div>  <img [src]="eval.pic | imgSize:'400'" class="" alt="" *ngIf="eval.isAfter=='N'" >
                          </div>
                        </ng-template>
                        </nz-popover>
                  </span></p>
                  <p>
                </div>
                <!-- 评价内容  --end -->
                <!--追评内容 --start -->
                <div>
                  <p>追评内容：</p>
                  <p><span class="font14">{{data.commentTextAfter}}</span></p>
                  <p><span class="font14" *ngFor="let eval of data.commentGoodsPicList;">
                     <nz-popover [nzTrigger]="'click'">
                       <img [src]="eval.pic | imgSize:'50'"  appImgErr title="点击出大图"
                            alt="" *ngIf="eval.isAfter=='Y'"  nz-popover >
                        <ng-template #nzTemplate>
                          <div>  <img [src]="eval.pic | imgSize:'400'" class=""
                                      alt="" *ngIf="eval.isAfter=='Y'" >
                          </div>
                        </ng-template>
                        </nz-popover>
                  </span></p>
                </div>
                <!--追评内容  --end  -->
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    </tbody>
  </nz-table>
</div>
