<!--提现详情 -- start-->
<div>
  <div class="font16 mb-20">
    <span>提现详情</span>
    <button nz-button [nzType]="'danger'" [nzShape]="'circle'" class="page-back" (click)="back()" title="返回">
      <i class="anticon anticon-rollback font20"></i>
    </button>
  </div>
  <!--提现表格 -- start-->
  <nz-table #nzTable [nzAjaxData]="cashPage.voList"
            [nzLoading]="_loading"
            [nzTotal]="cashPage.totalRow"
            [(nzPageIndex)]="cashPage.curPage"
            (nzPageIndexChange)="qeuryCashData()"
            [(nzPageSize)]="cashPage.pageSize">
    <!--提现头部 --start -->
    <thead nz-thead>
    <tr>
      <th nz-th class="w10 text-center"><span>序号</span></th>
      <th nz-th class="w18 text-center"><span>提现金额</span></th>
      <th nz-th class="w18 text-center"><span>收款开户行</span></th>
      <th nz-th class="w18 text-center"><span>状态</span></th>
      <th nz-th class="w18 text-center"><span>申情时间</span></th>
    </tr>
    </thead>
    <!--提现头部 --end -->
    <!--提现数据 --start -->
    <tbody nz-tbody>
    <tr nz-tbody-tr *ngFor="let data of nzTable.data;let i=index" class="text-center">
      <td nz-td>{{i+1}}</td>
      <td nz-td>{{data.drawMoney}}</td>
      <td nz-td>{{data.bank}}</td>
      <td nz-td>{{data.state}}</td>
      <td nz-td>{{data.createTime}}</td>
    </tr>
    </tbody>
    <!--提现数据 --end -->
  </nz-table>
  <!--结算表格 --end -->
</div>
<!--提现详情 -- end-->
