<div class="store-info-all">
  <div class="mb-20 pt-20 font18 strong store-info">
    店铺信息
    <!--<button class="fr m btn-thc" nz-button [routerLink]="editShop">-->
      <!--<span>修改店铺信息</span>-->
    <!--</button>-->
    <button nz-button [nzType]="'danger'" [nzShape]="'circle'" class="page-back" (click)="back()" title="返回">
      <i class="anticon anticon-rollback font20"></i>
    </button>
  </div>
  <!--店铺基本信息 --start -->
  <div class="w90 m-auto">
    <div class="b-shop-img bb-shop w25 fl d-block">
      <p class="text-center mt-50">
        <nz-popover [nzTrigger]="'click'">
          <img [src]="" appImgErr="user" width="80"
               title="点击出大图"
               alt="" nz-popover>
          <ng-template #nzTemplate>
            <div><img [src]="shopsInfo.storeAvatar | imgSize:'400'">
            </div>
          </ng-template>
        </nz-popover>
      </p>
       <p class="text-center pt-5">{{shopsInfo.storeName}}</p>
    </div>
    <div class="w75 fr">
      <div nz-row class="store-info-row b-shop m-auto">
      <div nz-col [nzSpan]="4" class="text-right pr-20 strong br-shop">
      店铺地址
      </div>
      <div nz-col [nzSpan]="20" class="pl-20">
      {{shopsInfo.areaFullName}}
      </div>
      </div>
      <div nz-row class="store-info-row b-shop m-auto">

        <div nz-col [nzSpan]="4" class="text-right pr-20 strong br-shop">
        详细地址
        </div>
        <div nz-col [nzSpan]="20" class="pl-20">
        {{shopsInfo.address}}
        </div>
        </div>
      <div nz-row class="store-info-row b-shop m-auto">
          <div nz-col [nzSpan]="4" class="text-right pr-20 strong br-shop">
            邮政编码
          </div>
          <div nz-col [nzSpan]="20" class="pl-20">
            {{shopsInfo.areaCode}}
          </div>
        </div>
      <div nz-row class="store-info-row b-shop m-auto">
        <div nz-col [nzSpan]="4" class="text-right pr-20 strong br-shop">
          商家电话
        </div>
        <div nz-col [nzSpan]="20" class="pl-20">
          {{shopsInfo.storePhone}}
        </div>
      </div>
      <div nz-row class="store-info-row b-shop m-auto">
        <div nz-col [nzSpan]="4" class="text-right pr-20 strong br-shop">
          店铺LOGO
        </div>
        <div nz-col [nzSpan]="20" class="pl-20" [ngClass]="{'store-info-nowrite':!shopsInfo.storeAvatar}">
          <nz-popover [nzTrigger]="'click'">
            <img [src]="shopsInfo.storeLabel | imgSize:'50'" height="35" appImgErr nz-popover>
            <ng-template #nzTemplate>
              <div><img [src]="shopsInfo.storeLabel | imgSize:'400'"  alt="shopsInfo.storeName"></div>
            </ng-template>
          </nz-popover>
        </div>
      </div>
      <div nz-row class="store-info-row b-shop m-auto">
        <div nz-col [nzSpan]="4" class="text-right pr-20 strong br-shop">
          QQ
        </div>
        <div nz-col [nzSpan]="20" class="pl-20" [ngClass]="{'store-info-nowrite':!shopsInfo.storeQq}">
          {{shopsInfo.storeQq || '未填写'}}
        </div>
      </div>
      <div nz-row class="store-info-row b-shop m-auto bb-shop">
        <div nz-col [nzSpan]="4" class="text-right pr-20 strong br-shop">
        阿里旺旺账号
        </div>
        <div nz-col [nzSpan]="20" class="pl-20"  [ngClass]="{'store-info-nowrite':!shopsInfo.storeWw}">
          {{shopsInfo.storeWw || '未填写'}}
        </div>
      </div>
    <div>
    </div>
    </div>
  <!--店铺基本信息 --end -->
  </div>
</div>
