
<!--提交成功-->
<ng-container *ngIf="path == 'done'">
  <div class="success">
    <i class="anticon anticon-clock-circle-o color-green"></i>
    <p>您已成功提交申请，请等待平台审核通过</p>
  </div>
</ng-container>

<!--审核驳回-->
<ng-container *ngIf="path == 'dredgeReject'">
  <div class="success">
    <i class="anticon anticon-exclamation-circle-o color-orange"></i>
    <p>您提交的申请信息有误，请修改后重新申请</p>
  </div>
  <div nz-row class="text-center p-20 bt">
    <button nz-button [nzType]="'default'" [nzSize]="'large'" class="btn-blue" (click)="skipTo(4)">
      <span>修改信息</span>
    </button>
  </div>
</ng-container>


<div class="mt text-center">
  <p>临时按钮，查看页面状态用</p>
  <button nz-button [nzType]="'default'" [nzSize]="'large'" class="btn-danger" (click)="skipTo(5)">
    <span>提交成功</span>
  </button>
  <button nz-button [nzType]="'default'" [nzSize]="'large'" class="btn-danger"
          (click)="skipTo(5.1)">
    <span>审核驳回</span>
  </button>
</div>
