<div class="store-info-all">
  <div class="mb-20 pt-20 font18 strong store-info">
    企业信息
    <button nz-button [nzType]="'danger'" [nzShape]="'circle'" class="page-back" (click)="back()" title="返回">
      <i class="anticon anticon-rollback font20"></i>
    </button>
  </div>
  <!--企业基本信息 --start -->
  <div>
    <div class="store-info-border mb-20">企业基本信息</div>
    <div>
      <div nz-row class="store-info-row">
        <div nz-col [nzSpan]="12" class="text-right pr-5 strong">
          企业名称：
        </div>
        <div nz-col [nzSpan]="12">
          {{storeInfo.epName}}
        </div>
      </div>
      <div nz-row class="store-info-row">
        <div nz-col [nzSpan]="12" class="text-right pr-5 strong">
          企业邮箱：
        </div>
        <div nz-col [nzSpan]="12">
          {{storeInfo.contactsEmail}}
        </div>
      </div>
      <div nz-row class="store-info-row">
        <div nz-col [nzSpan]="12" class="text-right pr-5 strong">
          联系人姓名：
        </div>
        <div nz-col [nzSpan]="12" [ngClass]="{'store-info-nowrite':!storeInfo.contactsName}">
          {{storeInfo.contactsName || "未填写"}}
        </div>
      </div>
      <div nz-row class="store-info-row">
        <div nz-col [nzSpan]="12" class="text-right pr-5 strong">
          联系人手机号：
        </div>
        <div nz-col [nzSpan]="12" [ngClass]="{'store-info-nowrite':!storeInfo.contactsPhone}">
          {{storeInfo.contactsPhone || "未填写"}}
        </div>
      </div>
      <div nz-row class="store-info-row">
        <div nz-col [nzSpan]="12" class="text-right pr-5 strong">
          证件类型：
        </div>
        <div nz-col [nzSpan]="12">
          {{storeInfo.idType | stateName:'2002'}}
        </div>
      </div>
      <div nz-row class="store-info-row" *ngIf="storeInfo.idType==enumState.goodsState.unity">
        <div nz-col [nzSpan]="12" class="text-right pr-5 strong">
          社会信用代码：
        </div>
        <div nz-col [nzSpan]="12">
          {{storeInfo.creditCode}}
        </div>
      </div>
      <div *ngIf="storeInfo.idType==enumState.goodsState.normal" class="store-info-normal">
        <div nz-row class="store-info-row">
          <div nz-col [nzSpan]="12" class="text-right pr-5 strong">
            税务登记证证号：
          </div>
          <div nz-col [nzSpan]="12">
            {{storeInfo.taxRegistrationCertificate}}
          </div>
        </div>
        <div nz-row class="store-info-row">
          <div nz-col [nzSpan]="12" class="text-right pr-5 strong">
            纳税登记证电子版：
          </div>
          <div nz-col [nzSpan]="12">
            <nz-popover [nzTrigger]="'click'">
              <img [src]="storeInfo.taxRegistrationCertificateElectronic | imgSize:'50'" appImgErr
                   title="点击出大图"
                   alt="" nz-popover>
              <ng-template #nzTemplate>
                <div><img [src]="storeInfo.taxRegistrationCertificateElectronic | imgSize:'400'"
                          alt="">
                </div>
              </ng-template>
            </nz-popover>
          </div>
        </div>
        <div nz-row class="store-info-row">
          <div nz-col [nzSpan]="12" class="text-right pr-5 strong">
            组织结构代码：
          </div>
          <div nz-col [nzSpan]="12">
            {{storeInfo.organizationCode}}
          </div>
        </div>
        <div nz-row class="store-info-row">
          <div nz-col [nzSpan]="12" class="text-right pr-5 strong">
            组织结构代码电子版：
          </div>
          <div nz-col [nzSpan]="12">
            <nz-popover [nzTrigger]="'click'">
              <img [src]="storeInfo.organizationCodeElectronic | imgSize:'50'" appImgErr
                   title="点击出大图"
                   alt="" nz-popover>
              <ng-template #nzTemplate>
                <div><img [src]="storeInfo.organizationCodeElectronic | imgSize:'400'"
                          alt="">
                </div>
              </ng-template>
            </nz-popover>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!--企业基本信息 --end -->
  <!--企业法人信息 --start -->
  <div>
    <div class="store-info-border mb-20">企业法人信息</div>
    <div>
      <div nz-row class="store-info-row">
        <div nz-col [nzSpan]="12" class="text-right pr-5 strong">
          法人姓名：
        </div>
        <div nz-col [nzSpan]="12">
          {{storeInfo.legalPersonName}}
        </div>
      </div>
      <div nz-row class="store-info-row">
        <div nz-col [nzSpan]="12" class="text-right pr-5 strong">
          法人身份证号：
        </div>
        <div nz-col [nzSpan]="12" class="idCard">
          {{storeInfo.legalPersonIdcard}}
        </div>
      </div>
      <div nz-row class="store-info-row">
        <div nz-col [nzSpan]="12" class="text-right pr-5 strong">
          是否长期有效：
        </div>
        <div nz-col [nzSpan]="12" [ngClass]="{'color-success':storeInfo.isForever==enumState.yes,'color-red':storeInfo.isForever==enumState.no}">
          {{storeInfo.isForever | stateName:enum.yesOrNo}}
        </div>
      </div>
      <div nz-row class="store-info-row">
        <div nz-col [nzSpan]="12" class="text-right pr-5 strong">
          法人身份证有效期：
        </div>
        <div nz-col [nzSpan]="12" *ngIf="storeInfo.isForever==enumState.no">
          {{storeInfo.idcardStartTime| date:"yyyy-MM-dd"}}&nbsp;&nbsp;-&nbsp;&nbsp;{{storeInfo.idcardEndTime|
          date:"yyyy-MM-dd"}}
        </div>
        <div nz-col [nzSpan]="12" *ngIf="storeInfo.isForever==enumState.yes">
          {{storeInfo.idcardStartTime| date:"yyyy-MM-dd"}}&nbsp;&nbsp;-&nbsp;&nbsp;长期
        </div>
      </div>
    </div>
  </div>
  <!-- 企业法人信息 --end -->
  <!--营业执照信息 --start -->
  <div>
    <div class="store-info-border mb-20">营业执照信息</div>
    <div>
      <div nz-row class="store-info-row">
        <div nz-col [nzSpan]="12" class="text-right pr-5 strong">
          注册资本：
        </div>
        <div nz-col [nzSpan]="12">
          {{storeInfo.businessRegisteredCapital}}
        </div>
      </div>
      <div nz-row class="store-info-row">
        <div nz-col [nzSpan]="12" class="text-right pr-5 strong">
          法定经营范围：
        </div>
        <div nz-col [nzSpan]="12">
          {{storeInfo.businessSphere}}
        </div>
      </div>
      <div nz-row class="store-info-row">
        <div nz-col [nzSpan]="12" class="text-right pr-5 strong">
          营业执照所在地：
        </div>
        <div nz-col [nzSpan]="12">
          {{storeInfo.businessLicenceAreaName}}
        </div>
      </div>
      <div nz-row class="store-info-row">
        <div nz-col [nzSpan]="12" class="text-right pr-5 strong">
          详细地址：
        </div>
        <div nz-col [nzSpan]="12">
          {{storeInfo.businessLicenceAddress}}
        </div>
      </div>
      <div nz-row class="store-info-row">
        <div nz-col [nzSpan]="12" class="text-right pr-5 strong">
          营业执照有效期：
        </div>
        <div nz-col [nzSpan]="12">
          {{storeInfo.businessLicenceStart | date:"yyyy-MM-dd"}}&nbsp;&nbsp;至&nbsp;&nbsp;{{storeInfo.businessLicenceEnd
          | date:"yyyy-MM-dd"}}
        </div>
      </div>
      <div nz-row class="store-info-row img-bottom">
        <div nz-col [nzSpan]="12" class="text-right pr-5 strong">
          营业执照电子版：
        </div>
        <nz-popover [nzTrigger]="'click'">
          <img [src]="storeInfo.businessLicenceNumberElectronic  | imgSize:'50'" appImgErr
               title="点击出大图"
               alt="" nz-popover>
          <ng-template #nzTemplate>
            <div><img [src]="storeInfo.businessLicenceNumberElectronic | imgSize:'400'" alt="">
            </div>
          </ng-template>
        </nz-popover>

      </div>
    </div>
  </div>
  <!--营业执照信息 --end -->
  <!--开户行信息 --start -->
  <div class="opening-bank-info">
    <div class="store-info-border mb-20">开户行信息</div>
    <div>
      <div nz-row class="store-info-row">
        <div nz-col [nzSpan]="12" class="text-right pr-5 strong">
          银行开户名：
        </div>
        <div nz-col [nzSpan]="12">
          {{storeInfo.businessSphere}}
        </div>
      </div>
      <div nz-row class="store-info-row">
        <div nz-col [nzSpan]="12" class="text-right pr-5 strong">
          公司银行账号：
        </div>
        <div nz-col [nzSpan]="12" class="bankCard">
          {{storeInfo.bankAccountNumber}}
        </div>
      </div>
      <div nz-row class="store-info-row">
        <div nz-col [nzSpan]="12" class="text-right pr-5 strong">
          开户行支行名称：
        </div>
        <div nz-col [nzSpan]="12">
          {{storeInfo.bankName}}
        </div>
      </div>
      <div nz-row class="store-info-row">
        <div nz-col [nzSpan]="12" class="text-right pr-5 strong">
          开户支行银联号：
        </div>
        <div nz-col [nzSpan]="12">
          {{storeInfo.bankCode}}
        </div>
      </div>
      <div nz-row class="store-info-row">
        <div nz-col [nzSpan]="12" class="text-right pr-5 strong">
          开户银行地址：
        </div>
        <div nz-col [nzSpan]="12">
          {{storeInfo.bankAddress}}
        </div>
      </div>
      <div nz-row class="store-info-row">
        <div nz-col [nzSpan]="12" class="text-right pr-5 strong">
          开户银行许可证电子版：
        </div>
        <div nz-col [nzSpan]="12">
          <nz-popover [nzTrigger]="'click'">
            <img [src]="storeInfo.bankLicenceElectronic | imgSize:'50'" appImgErr
                 title="点击出大图"
                 alt="" nz-popover>
            <ng-template #nzTemplate>
              <div><img [src]="storeInfo.bankLicenceElectronic | imgSize:'400'"
                        alt="">
              </div>
            </ng-template>
          </nz-popover>
        </div>
      </div>
      <div nz-row class="store-info-row store-info-bottom">
        <div nz-col [nzSpan]="12" class="text-right pr-5 strong">
          是否为结算账户：
        </div>
        <div nz-col [nzSpan]="12" [ngClass]="{'color-success':storeInfo.isSettlementAccount==enumState.yes,'color-red':storeInfo.isSettlementAccount==enumState.no}">
          {{storeInfo.isSettlementAccount | stateName:enum.yesOrNo}}
        </div>
      </div>
    </div>
  </div>
  <!--开户行信息 --end -->
  <!--结算账户信息 --start -->
  <div *ngIf="storeInfo.isSettlementAccount==enumState.no">
    <div class="store-info-border mb-20">结算账户信息</div>
    <div>
      <div nz-row class="store-info-row">
        <div nz-col [nzSpan]="12" class="text-right pr-5 strong">
          结算银行开户名：
        </div>
        <div nz-col [nzSpan]="12">
          {{storeInfo.settlementBankAccountName}}
        </div>
      </div>
      <div nz-row class="store-info-row">
        <div nz-col [nzSpan]="12" class="text-right pr-5 strong">
          结算银行账号：
        </div>
        <div nz-col [nzSpan]="12">
          {{storeInfo.settlementBankAccountNumber}}
        </div>
      </div>
      <div nz-row class="store-info-row">
        <div nz-col [nzSpan]="12" class="text-right pr-5 strong">
          结算账户开户行支行名称：
        </div>
        <div nz-col [nzSpan]="12">
          {{storeInfo.settlementBankName}}
        </div>
      </div>
      <div nz-row class="store-info-row">
        <div nz-col [nzSpan]="12" class="text-right pr-5 strong">
          结算账户开户行支行银联号：
        </div>
        <div nz-col [nzSpan]="12">
          {{storeInfo.settlementBankCode}}
        </div>
      </div>
      <div nz-row class="store-info-row store-info-bottom">
        <div nz-col [nzSpan]="12" class="text-right pr-5 strong">
          结算账户开户行所在地：
        </div>
        <div nz-col [nzSpan]="12">
          {{storeInfo.settlementBankAddress}}
        </div>
      </div>
    </div>
  </div>
  <!--结算账户信息 --end -->
</div>
