<div nz-row class="p-20">
  <!--新密码表单start-->
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm($event,validateForm.value)" class="p-20 _form">
    <div nz-form-item nz-row>
      <div nz-col [nzSpan]="8" nz-form-label>
        <label class="new-information" nz-form-item-required>密码</label>
      </div>
      <div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="getFormControl('password')" nzHasFeedback>
          <nz-input formControlName="password" [nzPlaceHolder]="'请输入您的密码'" [nzType]="'password'" [nzSize]="'large'"
                    (ngModelChange)="validateConfirmPassword()">
          </nz-input>
          <div nz-form-explain
               *ngIf="getFormControl('password').dirty&&getFormControl('password').hasError('required')">请输入您的密码！
          </div>
        </div>
      </div>
    </div>

    <div nz-form-item nz-row>
      <div nz-col [nzSpan]="8" nz-form-label>
        <label class="new-information" nz-form-item-required>确认密码</label>
      </div>
      <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="getFormControl('passwordConfirmation')"
           nzHasFeedback>
        <nz-input formControlName="passwordConfirmation" [nzType]="'password'" [nzPlaceHolder]="'请再次输入您的密码'"
                  [nzSize]="'large'">
        </nz-input>
        <div nz-form-explain
             *ngIf="getFormControl('passwordConfirmation').dirty&&getFormControl('passwordConfirmation').hasError('required')">
          请再次输入您的密码!
        </div>
        <div nz-form-explain
             *ngIf="getFormControl('passwordConfirmation').dirty&&getFormControl('passwordConfirmation').hasError('confirm')">
          两次密码输入不一致!
        </div>
      </div>
    </div>

    <div nz-row class="text-center p-20 bt">
      <button nz-button [nzType]="'danger'" [nzSize]="'large'" (click)="pre()">
        <span>上一步</span>
      </button>
      <button nz-button [nzType]="'danger'" [nzSize]="'large'">
        <span>下一步</span>
      </button>
    </div>
    <!--<div nz-form-item nz-row>-->
    <!--<div nz-col nz-form-control>-->
    <!--<button nz-button [nzSize]="'large'" (click)="resetForm($event)">Reset</button>-->
    <!--</div>-->
    <!--</div>-->
  </form>
  <!--新密码表单end-->
</div>
