<div nz-row class="p-20">
  <!--新密码表单start-->
  <form nz-form [formGroup]="validateForm"  class="p-20">
    <div nz-form-item nz-row>
      <div nz-col [nzSpan]="8" nz-form-label>
        <label class="new-information" nz-form-item-required>密码</label>
      </div>
      <div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="getFormControl('newPwd')" nzHasFeedback>
          <nz-input formControlName="newPwd" [nzPlaceHolder]="'请输入6-16位密码'" [nzType]="'password'" [nzSize]="'large'"
                    (ngModelChange)="loginService.validateConfirmPassword()">
          </nz-input>
          <div nz-form-explain
               *ngIf="getFormControl('newPwd').dirty&&getFormControl('newPwd').hasError('required')">请输入您的密码！
          </div>
          <div nz-form-explain
               *ngIf="getFormControl('newPwd').dirty&&getFormControl('newPwd').hasError(valitatete.isPwd)">
            请输入6到16位含数字、字母组成的密码！
          </div>
        </div>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-col [nzSpan]="8" nz-form-label>
        <label class="new-information" nz-form-item-required>确认密码</label>
      </div>
      <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="getFormControl('confirmPwd')"
           nzHasFeedback>
        <nz-input formControlName="confirmPwd" [nzType]="'password'" [nzPlaceHolder]="'请再次输入您的密码'"
                  [nzSize]="'large'">
        </nz-input>
        <div nz-form-explain
             *ngIf="getFormControl('confirmPwd').dirty&&getFormControl('confirmPwd').hasError('required')">
          请再次输入您的密码!
        </div>
        <div nz-form-explain
             *ngIf="getFormControl('confirmPwd').dirty&&getFormControl('confirmPwd').hasError('confirm')">
          两次密码输入不一致!
        </div>
      </div>
    </div>
    <div nz-row class="text-center p-20 bt">
      <button nz-button [nzType]="'default'" [nzSize]="'large'" class="thc-btn-w"
              (click)="pre()">
        <span>上一步</span>
      </button>
      <button nz-button [nzType]="'default'" [nzSize]="'large'" class="thc-btn-w" (click)="submitForm($event,validateForm.value)">
        <span>下一步</span>
      </button>
    </div>
  </form>
  <!--新密码表单end-->
</div>
