<div nz-row class="p-20">
  <!--重置密码表单start-->
  <form nz-form [formGroup]="validateForm" class="p-20">
    <div nz-form-item nz-row>
      <div nz-form-label nz-col [nzSpan]="8">
        <label nz-form-item-required>手机号</label>
      </div>
      <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="getFormControl('phone')" nzHasFeedback>
        <nz-input formControlName="phone" [nzPlaceHolder]="'请填写手机号'" [nzType]="'email'" [nzSize]="'large'" [(ngModel)]="phone">
        </nz-input>
        <div nz-form-explain *ngIf="getFormControl('phone').dirty&&getFormControl('phone').hasError('required')">
          请输入手机号码！
        </div>
        <div nz-form-explain *ngIf="getFormControl('phone').dirty&&getFormControl('phone').hasError('phone')">手机号码不正确！
        </div>
        <div class="has-error"><p nz-form-explain *ngIf="!getFormControl('phone').dirty&&phoneState == 'error'">
          手机号码不正确！</p></div>
        <div class="has-error"><p nz-form-explain *ngIf="!getFormControl('phone').dirty&&phoneState == 'empty'">
          请输入手机号码！</p></div>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col [nzSpan]="8">
        <label class="reset-information" nz-form-item-required>验证码</label>
      </div>
      <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="getFormControl('code')" nzHasFeedback>
        <nz-input formControlName="code" [nzPlaceHolder]="'请填写验证码'" [nzType]="'text'" [nzSize]="'large'" [(ngModel)]="code">
        </nz-input>
        <div nz-form-explain
             *ngIf="getFormControl('code').dirty&&getFormControl('code').hasError('required')">
          请输入验证码！
        </div>
        <div nz-form-explain
             *ngIf="getFormControl('code').dirty&&getFormControl('code').hasError('code')">请输正确验证码！
        </div>
      </div>
      <div nz-col [nzSpan]="8">
        <button nz-button  [nzType]="'default'" [nzSize]="'large'" class="thc-btn-w ml-20"  [disabled]="isSending" (click)="getCaptcha()">{{msgCode}}
        </button>
      </div>
    </div>

    <div nz-row class="text-center p-20 bt">
      <button class="thc-btn-w" nz-button [nzType]="'default'" [nzSize]="'large'"  (click)="submitForm($event,validateForm.value)">
        <span>下一步</span>
      </button>
    </div>
  </form>
  <!--重置密码表单end-->
</div>
