<!--开通店铺 start-->
<div nz-row class="p-20">
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm($event,validateForm.value)" class="p-20">
    <!--<div class="fieldset">
      <div class="legend bb-dashed">企业基本信息</div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>企业名称</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="getFormControl('epName')" nzHasFeedback>
          <nz-input formControlName="epName" [nzType]="'text'" [nzPlaceHolder]="'企业名称'" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain
               *ngIf="getFormControl('epName').dirty&&getFormControl('epName').hasError('required')">
            请输入企业名称！
          </div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>企业邮箱</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="getFormControl('email')" nzHasFeedback>
          <nz-input formControlName="email" [nzPlaceHolder]="'企业邮箱'" [nzType]="'email'" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain *ngIf="getFormControl('email').dirty&&getFormControl('email').hasError('email')">
            请输入正确的邮箱！</div>
          <div nz-form-explain *ngIf="getFormControl('email').dirty&&getFormControl('email').hasError('required')">
            请输入企业邮箱！</div>
        </div>
      </div>
    </div>

    <div class="fieldset">
      <div class="legend bb-dashed">营业执照信息</div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>账户</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="getFormControl('sellerAcct')" nzHasFeedback>
          <nz-input formControlName="sellerAcct" [nzType]="'text'" [nzPlaceHolder]="'账户'" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain
               *ngIf="getFormControl('sellerAcct').dirty&&getFormControl('sellerAcct').hasError('required')">
            请输入您的账户！
          </div>
          <div nz-form-explain
               *ngIf="getFormControl('sellerAcct').dirty&&getFormControl('sellerAcct').hasError('duplicated')">
            账户已存在！
          </div>
        </div>
      </div>
    </div>

    <div nz-form-item nz-row>
      <div nz-form-label nz-col [nzSpan]="8">
        <label nz-form-item-required>店铺编码</label>
      </div>
      <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="getFormControl('shopCode')" nzHasFeedback>
        <nz-input formControlName="shopCode" [nzType]="'text'" [nzPlaceHolder]="'自定义店铺编码'"
                  [nzSize]="'large'">
        </nz-input>
        <div nz-form-explain *ngIf="getFormControl('shopCode').dirty&&getFormControl('shopCode').hasError('required')">
          请输入店铺编码！
        </div>
        <div nz-form-explain
             *ngIf="getFormControl('shopCode').dirty&&getFormControl('shopCode').hasError('duplicated')">店铺编码已存在！
        </div>
      </div>
    </div>

    <div nz-form-item nz-row>
      <div nz-form-label nz-col [nzSpan]="8">
        <label nz-form-item-required>手机号</label>
      </div>
      <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="getFormControl('phone')" nzHasFeedback>
        <nz-input formControlName="phone" [nzPlaceHolder]="'请填写手机号'" [nzType]="'email'" [nzSize]="'large'">
        </nz-input>
        <div nz-form-explain *ngIf="getFormControl('phone').dirty&&getFormControl('phone').hasError('required')">
          请输入手机号码！
        </div>
        <div nz-form-explain *ngIf="getFormControl('phone').dirty&&getFormControl('phone').hasError('phone')">手机号码不正确！
        </div>
      </div>
    </div>

    <div nz-form-item nz-row>
      <div nz-col [nzSpan]="8" nz-form-label>
        <label nz-form-item-required>密码</label>
      </div>
      <div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="getFormControl('password')" nzHasFeedback>
          <nz-input formControlName="password" [nzPlaceHolder]="'请输入您的密码'" [nzType]="'password'" [nzSize]="'large'"
                    (ngModelChange)="validateConfirmPassword()">
          </nz-input>
          <div nz-form-explain
               *ngIf="getFormControl('password').dirty&&getFormControl('password').hasError('required')">请输入您的密码！
          </div>
        </div>
      </div>
    </div>

    <div nz-form-item nz-row>
      <div nz-col [nzSpan]="8" nz-form-label>
        <label nz-form-item-required>确认密码</label>
      </div>
      <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="getFormControl('passwordConfirmation')"
           nzHasFeedback>
        <nz-input formControlName="passwordConfirmation" [nzType]="'password'" [nzPlaceHolder]="'请再次输入您的密码'"
                  [nzSize]="'large'">
        </nz-input>
        <div nz-form-explain
             *ngIf="getFormControl('passwordConfirmation').dirty&&getFormControl('passwordConfirmation').hasError('required')">
          请再次输入您的密码!
        </div>
        <div nz-form-explain
             *ngIf="getFormControl('passwordConfirmation').dirty&&getFormControl('passwordConfirmation').hasError('confirm')">
          两次密码输入不一致!
        </div>
      </div>
    </div>

    <div nz-form-item nz-row>
      <div nz-col [nzSpan]="8" nz-form-label>
        <label nz-form-item-required>我是店主</label>
      </div>
      <div nz-col [nzSpan]="8" nz-form-control>
        <nz-switch formControlName="isBoss">
          <span checked>是</span>
          <span unchecked>否</span>
        </nz-switch>
      </div>
    </div>-->

    <!--<div nz-form-item nz-row>
      <div nz-col [nzOffset]="7" [nzSpan]="8" nz-form-control>
        <button nz-button [nzType]="'primary'" [nzSize]="'large'" [disabled]="!validateForm.valid">Submit</button>
        <button nz-button [nzSize]="'large'" (click)="resetForm($event)">Reset</button>
      </div>
    </div>-->

    <div nz-row class="text-center p-20 bt">
      <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="pre()">
        <span>上一步</span>
      </button>
      <button nz-button [nzType]="'default'" [nzSize]="'large'">
        <span>下一步</span>
      </button>
    </div>
  </form>
</div>
<!--开通店铺 end-->
