<!--开通店铺 start-->
<div nz-row class="p-20">
  <form nz-form [formGroup]="validateForm" class="p-20">
    <!--店铺基本信息 start-->
    <div class="fieldset">
      <div class="legend bb-dashed">店铺基本信息</div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>店铺名称</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="getFormControl('storeName')" nzHasFeedback>
          <nz-input formControlName="storeName" [nzType]="'text'" [nzPlaceHolder]="'店铺名称'" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain
               *ngIf="getFormControl('storeName').dirty&&getFormControl('storeName').hasError('required')">
            请输入店铺名称！
          </div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-col [nzSpan]="8" nz-form-label>
          <label nz-form-item-required>店铺地址</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="getFormControl('areaName')"
             nzHasFeedback>
          <nz-cascader formControlName="areaName" [nzSize]="'large'"
                       [nzPlaceHolder]="'请选择'"
                       [nzExpandTrigger]="'hover'"
                       [nzChangeOnSelect]="true"
                       [nzOptions]="_options"
                       (nzChange)="_console($event)">
          </nz-cascader>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>详细地址</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="getFormControl('address')" nzHasFeedback>
          <nz-input formControlName="address" [nzRows]="2" [nzType]="'textarea'" [nzPlaceHolder]="'请输入详细地址'" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain
               *ngIf="getFormControl('address').dirty&&getFormControl('address').hasError('required')">
            请输入详细地址！
          </div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>邮政编码</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="getFormControl('storeZip')" nzHasFeedback>
          <nz-input formControlName="storeZip" [nzType]="'text'" [nzPlaceHolder]="'请输入邮政编码'" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain
               *ngIf="getFormControl('storeZip').dirty&&getFormControl('storeZip').hasError('required')">
            请输入邮政编码！
          </div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>商家电话</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="getFormControl('storePhone')" nzHasFeedback>
          <nz-input formControlName="storePhone" [nzPlaceHolder]="'请填写商家电话'" [nzType]="'tel'" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain
               *ngIf="getFormControl('storePhone').dirty&&getFormControl('storePhone').hasError('required')">
            请输入商家电话！
          </div>
          <div nz-form-explain
               *ngIf="getFormControl('storePhone').dirty&&getFormControl('storePhone').hasError('phone')">手机号码不正确！
          </div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>店铺logo</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="getFormControl('storeLabel')" nzHasFeedback>
          <label class="file-upload">
            <i class="anticon anticon-cloud-upload-o"></i>请上传店铺logo
            <nz-input formControlName="storeLabel" [nzType]="'file'" [nzPlaceHolder]="'店铺logo'" [nzSize]="'large'">
            </nz-input>
          </label>
          <div nz-form-explain
               *ngIf="getFormControl('storeLabel').dirty&&getFormControl('storeLabel').hasError('required')">
            请上传店铺logo！
          </div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>店铺头像</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="getFormControl('storeAvatar')" nzHasFeedback>
          <label class="file-upload">
            <i class="anticon anticon-cloud-upload-o"></i>请上传店铺头像
            <nz-input formControlName="storeLabel" [nzType]="'file'" [nzPlaceHolder]="'店铺头像'" [nzSize]="'large'">
            </nz-input>
          </label>
          <div nz-form-explain
               *ngIf="getFormControl('storeAvatar').dirty&&getFormControl('storeAvatar').hasError('required')">
            请上传店铺头像！
          </div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>QQ</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="getFormControl('storeQQ')" nzHasFeedback>
          <nz-input formControlName="storeQQ" [nzType]="'text'" [nzPlaceHolder]="'QQ'" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain
               *ngIf="getFormControl('storeQQ').dirty&&getFormControl('storeQQ').hasError('required')">
            请输入店铺QQ！
          </div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>阿里旺旺账号</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="getFormControl('storeWW')" nzHasFeedback>
          <nz-input formControlName="storeWW" [nzType]="'text'" [nzPlaceHolder]="'阿里旺旺账号'" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain
               *ngIf="getFormControl('storeWW').dirty&&getFormControl('storeWW').hasError('required')">
            请输入店铺阿里旺旺账号！
          </div>
        </div>
      </div>
    </div>
    <!--企业基本信息 end-->

    <div nz-row class="text-center p-20 bt">
      <button nz-button [nzType]="'default'" [nzSize]="'large'" class="thc-btn-o" (click)="pre()">
        <span>上一步</span>
      </button>
      <button nz-button [nzType]="'default'" [nzSize]="'large'" class="thc-btn-w" (click)="submitForm($event,validateForm.value)" >
        <span>完成</span>
      </button>
    </div>
  </form>
</div>
<!--开通店铺 end-->
