<!--企业入驻 start-->
<div nz-row class="p-20">
  <form nz-form [formGroup]="validateForm" class="p-20">
    <!--企业基本信息 start-->
    <div class="fieldset">
      <div class="legend bb-dashed">企业基本信息</div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>企业名称</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="getFormControl('epName')" nzHasFeedback>
          <nz-input formControlName="epName" [nzType]="'text'" [nzPlaceHolder]="'企业名称'" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain
               *ngIf="getFormControl('epName').dirty&&getFormControl('epName').hasError('required')">
            请输入企业名称！
          </div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>企业邮箱</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="getFormControl('contactsEmail')" nzHasFeedback>
          <nz-input formControlName="contactsEmail" [nzPlaceHolder]="'请输入企业邮箱'" [nzType]="'email'" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain
               *ngIf="getFormControl('contactsEmail').dirty&&getFormControl('contactsEmail').hasError(valitate.isEmail)">
            请输入正确的邮箱！
          </div>
          <div nz-form-explain
               *ngIf="getFormControl('contactsEmail').dirty&&getFormControl('contactsEmail').hasError('required')">
            请输入企业邮箱！
          </div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>联系人姓名</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="getFormControl('contactsName')" nzHasFeedback>
          <nz-input formControlName="contactsName" [nzType]="'text'" [nzPlaceHolder]="'请输入联系人姓名'" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain
               *ngIf="getFormControl('contactsName').dirty&&getFormControl('contactsName').hasError('required')">
            请输入联系人姓名！
          </div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>联系人手机号</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="getFormControl('contactsPhone')" nzHasFeedback>
          <nz-input formControlName="contactsPhone" [nzPlaceHolder]="'请填写联系人手机号'" [nzType]="'email'" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain
               *ngIf="getFormControl('contactsPhone').dirty&&getFormControl('contactsPhone').hasError('required')">
            请输入联系人手机号！
          </div>
          <div nz-form-explain
               *ngIf="getFormControl('contactsPhone').dirty&&getFormControl('contactsPhone').hasError('phone')">手机号码不正确！
          </div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label>证件类型</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="8">
          <nz-radio-group formControlName="idType">
            <label *ngFor="let item of papersTypes" nz-radio [nzValue]="item.key">
              <span>{{item.val}}</span>
            </label>
          </nz-radio-group>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>税务登记证号</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="getFormControl('taxRegistrationCertificate')"
             nzHasFeedback>
          <nz-input formControlName="taxRegistrationCertificate" [nzType]="'text'" [nzPlaceHolder]="'税务登记证号'"
                    [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain
               *ngIf="getFormControl('taxRegistrationCertificate').dirty&&getFormControl('taxRegistrationCertificate').hasError('required')">
            请输入税务登记证号！
          </div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>纳税登记证电子版</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control
             [nzValidateStatus]="getFormControl('taxRegistrationCertificateElectronic')"
             nzHasFeedback>
          <label class="file-upload">
            <i class="anticon anticon-cloud-upload-o"></i>请上传纳税登记证电子版
            <input class="w100" type="file" name="taxRegistrationCertificateElectronic" ng2FileSelect [uploader]="taxRegistrationUploader"
                   accept="image/*" (change)="taxRegistrationFileChangeListener()"/>
          </label>
          <div nz-form-explain
               *ngIf="!taxRegistrationUploader.queue[0]&&getFormControl('taxRegistrationCertificateElectronic').dirty&&getFormControl('taxRegistrationCertificateElectronic').hasError('required')">
            请上传纳税登记证电子版！
          </div>
        </div>
        <div nz-col [nzSpan]="8">
          <img [src]="taxRegistrationUploader.queue[0]?._file | imgPreview" width="120" class="uploaded">
        </div>
      </div>
    </div>
    <!--企业基本信息 end-->

    <!--企业注册信息 start-->
    <div class="fieldset">
      <div class="legend bb-dashed">企业注册信息</div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>法人姓名</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="getFormControl('legalPersonName')" nzHasFeedback>
          <nz-input formControlName="legalPersonName" [nzType]="'text'" [nzPlaceHolder]="'请输入法人姓名'" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain
               *ngIf="getFormControl('legalPersonName').dirty&&getFormControl('legalPersonName').hasError('required')">
            请输入法人姓名！
          </div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>法人身份证号</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="getFormControl('legalPersonIdcard')" nzHasFeedback>
          <nz-input formControlName="legalPersonIdcard" [nzType]="'text'" [nzPlaceHolder]="'请输入法人身份证号'"
                    [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain
               *ngIf="getFormControl('legalPersonIdcard').dirty&&getFormControl('legalPersonIdcard').hasError('required')">
            请输入法人身份证号！
          </div>
          <div nz-form-explain
               *ngIf="getFormControl('legalPersonIdcard').dirty&&getFormControl('legalPersonIdcard').pending">正在输入……
          </div>
          <div nz-form-explain
               *ngIf="getFormControl('legalPersonIdcard').dirty&&getFormControl('legalPersonIdcard').hasError(valitate.isIdCard)">
            身份证号码错误！
          </div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>法人身份证有效期</label>
        </div>
        <div>
          <div nz-form-control>
            <div nz-col [nzSpan]="4">
              <div nz-form-item nz-row>
                <div>
                  <div nz-form-control [nzValidateStatus]="getFormControl('idcardStartTime')"
                       nzHasFeedback>
                    <nz-datepicker formControlName="idcardStartTime" [nzSize]="'large'"
                                   [nzDisabledDate]="_disabledIdCardStartDate"
                                   [nzPlaceHolder]="'起始日期'"></nz-datepicker>
                  </div>
                </div>
              </div>
            </div>
            <span class="left pl-5 pr-5">-</span>
            <div nz-col [nzSpan]="4">
              <div nz-form-item nz-row>
                <div>
                  <div nz-form-control [nzValidateStatus]="getFormControl('idcardEndTime')"
                       nzHasFeedback>
                    <nz-datepicker formControlName="idcardEndTime" [nzSize]="'large'"
                                   [nzDisabledDate]="_disabledIdCardEndDate"
                                   [nzPlaceHolder]="'结束日期'"></nz-datepicker>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>社会信用代码</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="getFormControl('creditCode')" nzHasFeedback>
          <nz-input formControlName="creditCode" [nzType]="'text'" [nzPlaceHolder]="'请输入社会信用代码'" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain
               *ngIf="getFormControl('creditCode').dirty&&getFormControl('creditCode').hasError('required')">
            请输入社会信用代码！
          </div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>组织结构代码</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="getFormControl('organizationCode')" nzHasFeedback>
          <nz-input formControlName="organizationCode" [nzType]="'text'" [nzPlaceHolder]="'请输入组织结构代码'"
                    [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain
               *ngIf="getFormControl('organizationCode').dirty&&getFormControl('organizationCode').hasError('required')">
            请输入组织结构代码！
          </div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>组织结构代码电子版</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="getFormControl('organizationCodeElectronic')"
             nzHasFeedback>
          <label class="file-upload">
            <i class="anticon anticon-cloud-upload-o"></i>请上传组织结构代码电子版
            <input class="w100" type="file" name="organizationCodeElectronic" ng2FileSelect [uploader]="organizationCodeUploader"
                   accept="image/*" (change)="organizationCodeFileChangeListener()"/>
          </label>
          <div nz-form-explain
               *ngIf="!organizationCodeUploader.queue[0]&&getFormControl('organizationCodeElectronic').dirty&&getFormControl('organizationCodeElectronic').hasError('required')">
            请上传组织结构代码电子版！
          </div>
        </div>
        <div nz-col [nzSpan]="8">
          <img [src]="organizationCodeUploader.queue[0]?._file | imgPreview" width="120" class="uploaded">
        </div>
      </div>
    </div>
    <!--企业注册信息 end-->

    <!--营业执照信息 start-->
    <div class="fieldset">
      <div class="legend bb-dashed">营业执照信息</div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>营业执照注册号</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="getFormControl('businessLicence')" nzHasFeedback>
          <nz-input formControlName="businessLicence" [nzType]="'text'" [nzPlaceHolder]="'营业执照注册号'" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain
               *ngIf="getFormControl('businessLicence').dirty&&getFormControl('businessLicence').hasError('required')">
            请输入营业执照注册号！
          </div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>注册资本</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="getFormControl('businessRegisteredCapital')"
             nzHasFeedback>
          <nz-input formControlName="businessRegisteredCapital" [nzType]="'text'" [nzPlaceHolder]="'注册资本'"
                    [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain
               *ngIf="getFormControl('businessRegisteredCapital').dirty&&getFormControl('businessRegisteredCapital').hasError('required')">
            注册资本！
          </div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>法定经营范围</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="getFormControl('businessLicenceSphere')"
             nzHasFeedback>
          <nz-input formControlName="businessLicenceSphere" [nzType]="'text'" [nzPlaceHolder]="'法定经营范围'"
                    [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain
               *ngIf="getFormControl('businessLicenceSphere').dirty&&getFormControl('businessLicenceSphere').hasError('required')">
            请输入法定经营范围！
          </div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>营业执照所在地</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="getFormControl('businessLicenceAreaCode')"
             nzHasFeedback>
          <nz-cascader formControlName="businessLicenceAreaCode" [nzSize]="'large'"
                       [nzPlaceHolder]="'请选择'"
                       [nzExpandTrigger]="'hover'"
                       [nzChangeOnSelect]="true"
                       [nzOptions]="_options"
                       (nzChange)="_console($event)">
          </nz-cascader>
          <div nz-form-explain
               *ngIf="getFormControl('businessLicenceAreaCode').dirty&&getFormControl('businessLicenceAreaCode').hasError('required')">
            请选择营业执照地区！
          </div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>详细地址</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="getFormControl('businessLicenceAddress')"
             nzHasFeedback>
          <nz-input formControlName="businessLicenceAddress" [nzType]="'textarea'" [nzPlaceHolder]="'详细地址'"
                    [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain
               *ngIf="getFormControl('businessLicenceAddress').dirty&&getFormControl('businessLicenceAddress').hasError('required')">
            请输入详细地址！
          </div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>营业执照有效期</label>
        </div>
        <div>
          <div nz-form-control>
            <div nz-col [nzSpan]="4">
              <div nz-form-item nz-row>
                <div>
                  <div nz-form-control [nzValidateStatus]="getFormControl('businessLicenceStart')"
                       nzHasFeedback>
                    <nz-datepicker formControlName="businessLicenceStart" [nzSize]="'large'"
                                   [nzDisabledDate]="_disabledBusinessLicenceStartDate"
                                   [nzPlaceHolder]="'起始日期'"></nz-datepicker>
                  </div>
                </div>
              </div>
            </div>
            <span class="left pl-5 pr-5">-</span>
            <div nz-col [nzSpan]="4">
              <div nz-form-item nz-row>
                <div>
                  <div nz-form-control [nzValidateStatus]="getFormControl('businessLicenceEnd')"
                       nzHasFeedback>
                    <nz-datepicker formControlName="businessLicenceEnd" [nzSize]="'large'"
                                   [nzDisabledDate]="_disabledBusinessLicenceEndDate"
                                   [nzPlaceHolder]="'结束日期'"></nz-datepicker>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="8">
          <label nz-form-item-required>营业执照电子版</label>
        </div>
        <div nz-col [nzSpan]="8" nz-form-control [nzValidateStatus]="getFormControl('businessLicenceNumberElectronic')"
             nzHasFeedback>
          <label class="file-upload">
            <i class="anticon anticon-cloud-upload-o"></i>请上传电子版营业执照
            <input class="w100" type="file" name="businessLicenceNumberElectronic" ng2FileSelect [uploader]="businessLicenceUploader"
                   accept="image/*" (change)="businessLicenceFileChangeListener()"/>
          </label>
          <div nz-form-explain
               *ngIf="!businessLicenceUploader.queue[0]&&getFormControl('businessLicenceNumberElectronic').dirty&&getFormControl('businessLicenceNumberElectronic').hasError('required')">
            请上传电子版营业执照！
          </div>
        </div>
        <div nz-col [nzSpan]="8">
          <img [src]="businessLicenceUploader.queue[0]?._file | imgPreview" width="120" class="uploaded">
        </div>
      </div>
    </div>
    <!--营业执照信息 end-->

    <!--操作按钮 start-->
    <div nz-row class="text-center p-20 bt">
      <button nz-button [nzType]="'default'" [nzSize]="'large'" class="btn-danger" (click)="pre()">
        <span>上一步</span>
      </button>
      <button nz-button [nzType]="'default'" [nzSize]="'large'" class="thc-btn-w"
              (click)="submitBaseInfoForm($event)">
        <span>下一步</span>
      </button>
    </div>
    <!--操作按钮 end-->
  </form>
</div>
